{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'users'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'users'|trans}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/user/user_tabs.html.twig' with {'active': 'list'} %}
{% endblock %}

{% block main_content %}
    {% if 0 < users.total %}
        {% embed 'Embed/card_embed.html.twig' %}
            {% import 'Import/app_import.html.twig' as appImport %}
            {% block content %}
                {{ appImport.heading({'level': 3, 'title': 'list'|trans, 'badge': users.total}) }}

                <p>
                    <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                        {{ 'filter'|trans }}
                    </button>
                </p>

                <div class="collapse" id="collapseFilter">
                    <p>
                        <label for="searchInput"><strong>{{ 'username'|trans }}</strong></label>
                        <input
                            id="searchInput"
                            class="form-control form-control-sm"
                            type="text"
                            autocomplete="off"
                        >
                    </p>

                    <p>
                        <strong>{{ 'enabled'|trans }}</strong><br>
                        {% for v in ['true', 'false'] %}
                            <span class="custom-control custom-switch d-inline mr-2">
                                <input
                                    type="checkbox"
                                    class="custom-control-input searchCheckbox"
                                    id="enabled{{ v }}Switch"
                                    checked="checked"
                                    value="enabled-{{ v }}"
                                >
                                <label class="custom-control-label" for="enabled{{ v }}Switch">{{ appImport.badge({'title': ('boolean.' ~ v)|trans, 'context': v}) }}</label>
                            </span>
                        {% endfor %}
                    </p>

                    <p>
                        <strong>{{ 'reserved'|trans }}</strong><br>
                        {% for v in ['true', 'false'] %}
                            <span class="custom-control custom-switch d-inline mr-2">
                                <input
                                    type="checkbox"
                                    class="custom-control-input searchCheckbox"
                                    id="reserved{{ v }}Switch"
                                    checked="checked"
                                    value="reserved-{{ v }}"
                                >
                                <label class="custom-control-label" for="reserved{{ v }}Switch">{{ appImport.badge({'title': ('boolean.' ~ v)|trans, 'context': v}) }}</label>
                            </span>
                        {% endfor %}
                    </p>
                </div>

                {{ appImport.paginator(users) }}

                {% include 'Modules/user/user_list.html.twig' with {'users': users} %}

                {{ appImport.paginator(users) }}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}
