{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'username': true, 'full_name': true, 'email': true, 'roles': true, 'enabled': true, 'reserved': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'username' == column %}
                        <th>
                            {{ 'username'|trans }}
                        </th>
                    {% endif %}

                    {% if 'full_name' == column %}
                        <th>
                            {{ 'full_name'|trans }}
                        </th>
                    {% endif %}

                    {% if 'email' == column %}
                        <th>
                            {{ 'email'|trans }}
                        </th>
                    {% endif %}

                    {% if 'roles' == column %}
                        <th>
                            {{ 'roles'|trans }}
                        </th>
                    {% endif %}

                    {% if 'reserved' == column %}
                        <th>
                            {{ 'reserved'|trans }}
                        </th>
                    {% endif %}

                    {% if 'enabled' == column %}
                        <th>
                            {{ 'enabled'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in users.rows %}
            <tr class="enabled-{% if row['enabled'] is defined and true == row['enabled'] %}true{% else %}false{% endif %} reserved-{% if row['metadata']['_reserved'] is defined and true == row['metadata']['_reserved'] %}true{% else %}false{% endif %}" data-search="{{ row['username'] }}">
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'username' == column %}
                            <td>
                                <a href="{{ path('users_read', {'user': row['username']}) }}">{{ row['username'] }}</a>
                            </td>
                        {% endif %}

                        {% if 'full_name' == column %}
                            <td>
                                {{ row['full_name'] }}
                            </td>
                        {% endif %}

                        {% if 'email' == column %}
                            <td>
                                {{ row['email'] }}
                            </td>
                        {% endif %}

                        {% if 'roles' == column %}
                            <td>
                                {% if row['roles'] is defined and 0 < row['roles']|length %}
                                    {% for record in row['roles'] %}
                                        <a href="{{ path('roles_read', {'role': record}) }}">{{ record }}</a>{% if false == loop.last %}, {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'enabled' == column %}
                            <td>
                                {{ appImport.badge({'title': ('boolean.' ~ row['enabled'])|trans, 'context': row['enabled']}) }}
                            </td>
                        {% endif %}

                        {% if 'reserved' == column %}
                            <td>
                                {% if row['metadata']['_reserved'] is defined and true == row['metadata']['_reserved'] %}
                                    {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                {% else %}
                                    {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
