{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'elasticsearch_users'|trans }} - {{ user.name }} - {{ 'update'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'elasticsearch_users'|trans, 'link': {'url': path('elasticsearch_users')}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': user.name}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/user/user_read_tabs.html.twig' with {'active': 'update'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'update'|trans}) }}

            {% embed 'Embed/buttons_embed.html.twig' %}
                {% import 'Import/app_import.html.twig' as appImport %}
                {% block content %}
                    <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-put-user.html#security-api-put-user">
                        {{ 'help'|trans }}
                    </a>
                {% endblock %}
            {% endembed %}

            {{ appImport.form({'form': form}) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        function changePassword() {
            if ($('#data_change_password').is(':checked')) {
                $('#data_password').removeAttr('disabled');
                $('#data_password').attr('required', 'required');

                $('label[for="data_password"]').append(' <small class="badge bg-info ml-1">{{ 'required'|trans|escape('js') }}</small>');
            } else {
                $('#data_password').attr('disabled', 'disabled');
                $('#data_password').removeAttr('required');

                $('label[for="data_password"] .badge').remove();
            }
        }

        changePassword();

        $(document).on('click', '#data_change_password', function(event) {
            changePassword();
        });
    </script>
{% endblock %}
