{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'slm_short'|trans }} - {{ policy.name }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'slm'|trans, 'link': {'url': path('slm')}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': policy.name}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/slm/slm_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            {% embed 'Embed/buttons_embed.html.twig' %}
                {% import 'Import/app_import.html.twig' as appImport %}
                {% block content %}
                    {% if is_granted('SLM_POLICY_DELETE', 'global') %}
                        {{ appImport.buttonModal({
                            'id': 'PolicyDelete',
                            'title': 'delete'|trans,
                            'body': policy.name,
                            'href': path('slm_delete', {'name': policy.name}),
                        }) }}
                    {% endif %}

                    {% if is_granted('SLM_POLICY_EXECUTE', 'global') %}
                        {{ appImport.buttonModal({
                            'id': 'PolicyExecute',
                            'title': 'execute'|trans,
                            'body': policy.name,
                            'href': path('slm_execute', {'name': policy.name}),
                        }) }}
                    {% endif %}

                    {% if is_granted('SLM_POLICIES_CREATE', 'global') %}
                        <a class="btn btn-primary btn-sm" href="{{ path('slm_create', {'policy': policy.name}) }}">{{ 'copy'|trans }}</a>
                    {% endif %}
                {% endblock %}
            {% endembed %}

            <p>
                <strong>{{ 'version'|trans }}</strong><br>
                {{ policy.version }}
            </p>

            {% if policy.modifiedDate %}
                <p>
                    <strong>{{ 'modified_date'|trans }}</strong><br>
                    {{ policy.modifiedDate|human_datetime }}
                </p>
            {% endif %}

            <p>
                <strong>{{ 'snapshot_name'|trans }}</strong><br>
                {{ policy.snapshotName }}
            </p>

            <p>
                <strong>{{ 'repository'|trans }}</strong><br>
                <a href="{{ path('repositories_read', {'repository': policy.repository}) }}">{{ policy.repository }}</a>
            </p>

            {% if policy.indices %}
                <p>
                    <strong>{{ 'indices'|trans }}</strong><br>
                    {{ policy.indices|join(', ') }}
                </p>
            {% endif %}

            <p>
                <strong>{{ 'schedule'|trans }}</strong><br>
                {{ policy.schedule }}
            </p>

            <p>
                <strong>{{ 'next_execution'|trans }}</strong><br>
                {{ policy.nextExecution|human_datetime }}
            </p>

            {% if policy.hasRetention %}
                {% if policy.expireAfter %}
                    <p>
                        <strong>{{ 'expire_after'|trans }}</strong><br>
                        {{ policy.expireAfter }}
                    </p>
                {% endif %}

                {% if policy.minCount %}
                    <p>
                        <strong>{{ 'min_count'|trans }}</strong><br>
                        {{ policy.minCount }}
                    </p>
                {% endif %}

                {% if policy.maxCount %}
                    <p>
                        <strong>{{ 'max_count'|trans }}</strong><br>
                        {{ policy.maxCount }}
                    </p>
                {% endif %}
            {% endif %}

            {% if policy.ignoreUnavailable %}
                <p>
                    <strong>{{ 'ignore_unavailable'|trans }}</strong><br>
                    {{ ('boolean.' ~ policy.ignoreUnavailable)|trans }}
                </p>
            {% endif %}

            {% if policy.partial %}
                <p>
                    <strong>{{ 'partial'|trans }}</strong><br>
                    {{ ('boolean.' ~ policy.partial)|trans }}
                </p>
            {% endif %}

            {% if policy.includeGlobalState %}
                <p>
                    <strong>{{ 'include_global_state'|trans }}</strong><br>
                    {{ ('boolean.' ~ policy.includeGlobalState)|trans }}
                </p>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
