<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'summary' == active %} active{% endif %}" href="{{ path('slm_read', {'name': policy['name']}) }}">{{ 'summary'|trans }}</a>
    </li>

    {% if policy['last_success'] is defined or policy['last_failure'] is defined %}
        <li class="nav-item">
            <a class="nav-link{% if 'history' == active %} active{% endif %}" href="{{ path('slm_read_history', {'name': policy['name']}) }}">{{ 'history'|trans }}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link{% if 'stats' == active %} active{% endif %}" href="{{ path('slm_read_stats', {'name': policy['name']}) }}">{{ 'stats'|trans }}</a>
        </li>
    {% endif %}
</ul>
