<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link text-light{% if 'summary' == active %} active bg-dark{% endif %}" href="{{ path('slm_read', {'name': policy.name}) }}">{{ 'summary'|trans }}</a>
    </li>

    {% if is_granted('SLM_POLICY_UPDATE', policy) %}
        <li class="nav-item">
            <a class="nav-link text-light{% if 'update' == active %} active bg-dark{% endif %}" href="{{ path('slm_update', {'name': policy.name}) }}">{{ 'update'|trans }}</a>
        </li>
    {% endif %}

    {% if policy.lastSuccess or policy.lastFailure %}
        <li class="nav-item">
            <a class="nav-link text-light{% if 'history' == active %} active bg-dark{% endif %}" href="{{ path('slm_read_history', {'name': policy.name}) }}">{{ 'history'|trans }}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light{% if 'stats' == active %} active bg-dark{% endif %}" href="{{ path('slm_read_stats', {'name': policy.name}) }}">{{ 'stats'|trans }}</a>
        </li>
    {% endif %}
</ul>
