{% extends 'base.html.twig' %}

{% block head_title %}{{ 'error500.title'|trans }}{% endblock %}

{% block main_content %}
    <div class="jumbotron mt-3">
        <h1 class="display-4">{{ 'error500.title'|trans }}</h1>
        {% if message is defined %}
            <p class="lead">{{ message }}</p>
            {% if file and line %}
                <p class="lead">In {{ file }}</p>
                <p class="lead">Line {{ line }}</p>
            {% endif %}
        {% else %}
            <p class="lead">{{ 'error500.note'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
