{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'index': true, 'shard': true, 'primary': true, 'state': true, 'unassigned_reason': true, 'documents': true, 'size': true, 'node': true, '_buttons': true} %}

    {% set is_granted_indices = is_granted('INDICES', 'global') %}

    {% set is_granted_nodes = is_granted('NODES', 'global') %}

    {% set is_granted_shards_reroute = is_granted('SHARDS_REROUTE', 'global') %}

    {% if 'index_shards' == context %}
        {% set columns = columns|merge({'index': false}) %}
        {% set sortUrl = path('indices_read_shards', {'index': index.name}|merge(app.request.query.all)) %}
    {% else %}
        {% set sortUrl = path('shards', app.request.query.all|filter((v, k) => k != 'sort')) %}
    {% endif %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'index' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 'sort': 'index', 'title': 'index'|trans, 'default': ':asc'})}}
                        </th>
                    {% endif %}

                    {% if 'shard' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 'sort': 'shard', 'title': 'shard'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'primary' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 'sort': 'prirep', 'title': 'primary'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'state' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 'sort': 'state', 'title': 'state'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'unassigned_reason' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 'sort': 'unassigned.reason', 'title': 'unassigned_reason'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'documents' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 'sort': 'docs', 'title': 'documents'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'size' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 'sort': 'store', 'title': 'size'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'node' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 'sort': 'node', 'title': 'node'|trans})}}
                        </th>
                    {% endif %}

                    {% if '_buttons' == column %}
                        <th>
                            &nbsp;
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in shards.rows %}
            <tr>
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'index' == column %}
                            <td>
                                {% if is_granted_indices %}
                                    <a class="text-secondary" href="{{ path('indices_read', {'index': row.index}) }}">{{ row.index }}</a>
                                {% else %}
                                    {{ row.index }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'shard' == column %}
                            <td>
                                {{ row.number }}
                            </td>
                        {% endif %}

                        {% if 'primary' == column %}
                            <td class="d-none d-xl-table-cell">
                                {% if row.isPrimary %}
                                    {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                {% else %}
                                    {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'state' == column %}
                            <td>
                                {{ appImport.badge({'title': row.state|trans, 'context': row.state}) }}
                            </td>
                        {% endif %}

                        {% if 'unassigned_reason' == column %}
                            <td>
                                {% if row.unassignedReason %}
                                    {{ appImport.badge({'title': row.unassignedReason|trans, 'context': 'danger'}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'documents' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ row.documents }}
                            </td>
                        {% endif %}

                        {% if 'size' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ row.size|human_filesize }}
                            </td>
                        {% endif %}

                        {% if 'node' == column %}
                            <td>
                                {% if row.node %}
                                    {% if is_granted_nodes and 'relocating' != row.state %}
                                        <a class="text-secondary" href="{{ path('nodes_read', {'node': row.node}) }}">{{ row.node }}</a>
                                    {% else %}
                                        {{ row.node }}
                                    {% endif %}
                                    {% if master_node == row.node %}{{ appImport.badge({'title': 'master'|trans, 'context': 'master_node'}) }}{% endif %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if '_buttons' == column %}
                            <td>
                                {% if is_granted_shards_reroute and 'relocating' != row.state %}
                                    <a class="btn btn-primary btn-sm" href="{{ path('shards_reroute', {'index': row.index, 'number': row.number, 'state': row.state, 'node': row.node}) }}">
                                        {{ 'reroute'|trans }}
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
