{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'indices'|trans }} - {{ index.name }} - {{ 'shards'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'indices'|trans, 'link': {'url': path('indices')}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': index.name}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/index/index_read_tabs.html.twig' with {'active': 'shards'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'reroute'|trans}) }}

            {% embed 'Embed/buttons_embed.html.twig' %}
                {% import 'Import/app_import.html.twig' as appImport %}
                {% block content %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('indices_read_shards', {'index': index.name}) }}">
                        {{ 'cancel'|trans }}
                    </a>
                    <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-reroute.html">
                        {{ 'help'|trans }}
                    </a>
                {% endblock %}
            {% endembed %}

            <hr>

            <div class="row">
                {% if is_granted('INDICES', 'global') %}
                    {{ appImport.dashboardKpi({'title': 'index'|trans, 'badge': {'title': reroute.index, 'link': path('indices_read', {'index': reroute.index})}}) }}
                {% else %}
                    {{ appImport.dashboardKpi({'title': 'index'|trans, 'badge': {'title': reroute.index}}) }}
                {% endif %}

                {{ appImport.dashboardKpi({'title': 'shard'|trans, 'badge': {'title': reroute.number}}) }}

                {% if reroute.node %}
                    {% if is_granted('NODES', 'global') %}
                        {{ appImport.dashboardKpi({'title': 'node'|trans, 'badge': {'title': reroute.node, 'link': path('nodes_read', {'node': reroute.node})}}) }}
                    {% else %}
                        {{ appImport.dashboardKpi({'title': 'node'|trans, 'badge': {'title': reroute.node}}) }}
                    {% endif %}
                {% endif %}
            </div>

            {{ appImport.form({'form': form}) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        function toggle() {
            var command = $('#data_command').val();

            if (command.indexOf('move') != -1) {
                enable('#data_to_node');
            } else {
                disable('#data_to_node');
            }
        }

        function enable(id) {
            $(id).parent().show();
            $(id).attr('required', 'required');
            $('label[for="' + id.substring(1) + '"] .badge').remove();
            $('label[for="' + id.substring(1) + '"]').append(' <small class="badge bg-info text-light ml-1">{{ 'required'|trans|escape('js') }}</small>');
        }

        function disable(id) {
            $(id).parent().hide();
            $(id).removeAttr('required');
            $('label[for="' + id.substring(1) + '"] .badge').remove();
        }

        toggle();

        $(document).on('change', '#data_command', function(event) {
            toggle();
        });
    </script>
{% endblock %}
