{% import 'Import/app_import.html.twig' as appImport %}
<ul class="nav nav-tabs mb-4">
    {% if is_granted('SHARDS', 'global') %}
        <li class="nav-item">
            <a class="nav-link text-light{% if 'list' == active %} active bg-dark{% endif %}" href="{{ path('shards') }}">{{ 'list'|trans }}</a>
        </li>
    {% endif %}

    {% if is_granted('SHARDS_STATS', 'global') %}
        <li class="nav-item">
            <a class="nav-link text-light{% if 'stats' == active %} active bg-dark{% endif %}" href="{{ path('shards_stats') }}">{{ 'stats'|trans }}</a>
        </li>
    {% endif %}

    {% if is_granted('CLUSTER_ALLOCATION_EXPLAIN', 'global') %}
        {% if 0 < cluster_health['unassigned_shards'] %}
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path('cluster_allocation_explain') }}">{{ 'allocation_explain'|trans }}{% if false == hasFeature('allocation_explain') %}{{ appImport.badge({'title': 'disabled'|trans, 'context': 'warning'}) }}{% endif %}</a>
            </li>
        {% endif %}
    {% endif %}
</ul>
