<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'summary' == active %} active{% endif %}" href="{{ path('component_templates_read', {'name': template.name}) }}">{{ 'summary'|trans }}</a>
    </li>

    {% if false == template.isSystem %}
        <li class="nav-item">
            <a class="nav-link{% if 'update' == active %} active{% endif %}" href="{{ path('component_templates_update', {'name': template.name}) }}">{{ 'update'|trans }}</a>
        </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link{% if 'settings' == active %} active{% endif %}" href="{{ path('component_templates_read_settings', {'name': template.name}) }}">{{ 'settings'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link{% if 'mappings' == active %} active{% endif %}" href="{{ path('component_templates_read_mappings', {'name': template.name}) }}">{{ 'mappings'|trans }}</a>
    </li>
</ul>
