{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'login'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'login'|trans}) }}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% block content %}
            <div class="row">
                <div class="col-12 offset-md-3 col-md-6 offset-xl-4 col-xl-4">
                    <form method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-group mb-3">
                            <label for="inputEmail" class="required form-label">{{ 'email'|trans }}</label>
                            <input type="email" value="{{ last_username }}" id="inputEmail" name="email" required="required" autofocus="autofocus" class="form-control bg-dark text-light">
                        </div>

                        <div class="form-group mb-3">
                            <label for="inputPassword" class="required form-label">{{ 'password'|trans }}</label>
                            <input type="password" id="inputPassword" name="password" required="required" class="form-control bg-dark text-light">
                        </div>

                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary btn-lg">{{ 'submit'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
