{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'index_templates_legacy'|trans }} - {{ template.name }} - {{ 'settings'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'index_templates_legacy'|trans, 'link': {'url': path('index_templates_legacy')}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': template.name}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/index_template_legacy/index_template_legacy_read_tabs.html.twig' with {'active': 'settings'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'settings'|trans, 'badge': {'title': template.settings|length}}) }}

            {% if template.settings %}
                {% embed 'Embed/table_embed.html.twig' %}
                    {% import 'Import/app_import.html.twig' as appImport %}

                    {% block thead %}
                        <tr>
                            <th>{{ 'setting'|trans }}</th>
                            <th>{{ 'value'|trans }}</th>
                        </tr>
                    {% endblock %}

                    {% block tbody %}
                        {% for key, value in template.settings %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>
                                    {% if value is iterable %}
                                        {{ value|join(', ') }}{{ appImport.badge({'title': 'array'|trans, 'context': 'secondary'}) }}
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
