<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link text-{{ theme_color_2 }}{% if 'summary' == active %} active bg-{{ theme_color_1 }}{% endif %}" href="{{ path('index_templates_legacy_read', {'name': template.name}) }}">{{ 'summary'|trans }}</a>
    </li>

    {% if is_granted('INDEX_TEMPLATE_LEGACY_UPDATE', template) %}
        <li class="nav-item">
            <a class="nav-link text-{{ theme_color_2 }}{% if 'update' == active %} active bg-{{ theme_color_1 }}{% endif %}" href="{{ path('index_templates_legacy_update', {'name': template.name}) }}">{{ 'update'|trans }}</a>
        </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link text-{{ theme_color_2 }}{% if 'settings' == active %} active bg-{{ theme_color_1 }}{% endif %}" href="{{ path('index_templates_legacy_read_settings', {'name': template.name}) }}">{{ 'settings'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-{{ theme_color_2 }}{% if 'mappings' == active %} active bg-{{ theme_color_1 }}{% endif %}" href="{{ path('index_templates_legacy_read_mappings', {'name': template.name}) }}">{{ 'mappings'|trans }}</a>
    </li>
</ul>
