{% embed 'Embed/table_embed.html.twig' %}
    {% set columns = {'name': true, 'index_patterns': true, 'order': true, 'version': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ 'name'|trans }}
                        </th>
                    {% endif %}

                    {% if 'index_patterns' == column %}
                        <th>
                            {{ 'index_patterns'|trans }}
                        </th>
                    {% endif %}

                    {% if 'order' == column %}
                        <th>
                            {{ 'order'|trans }}
                        </th>
                    {% endif %}

                    {% if 'version' == column %}
                        <th>
                            {{ 'version'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for name, row in indexTemplates.rows %}
            <tr class="index_template_system-{% if '.' == name|slice(0, 1) %}true{% else %}false{% endif %}" data-search="{{ name }}">
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('index_templates_legacy_read', {'name': name}) }}">{{ name }}</a>
                            </td>
                        {% endif %}

                        {% if 'index_patterns' == column %}
                            <td>
                                {{ row['index_patterns']|join(',')|replace({'[': '', ']': ''}) }}
                            </td>
                        {% endif %}

                        {% if 'order' == column %}
                            <td>
                                {% if row['order'] is defined %}
                                    {{ row['order'] }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'version' == column %}
                            <td>
                                {% if row['version'] is defined %}
                                    {{ row['version'] }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
