{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'name': true, 'index_patterns': true, 'order': true, 'version': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ 'name'|trans }}{{ appImport.badge({'title': 'sort_asc'|trans, 'context': 'light'}) }}
                        </th>
                    {% endif %}

                    {% if 'index_patterns' == column %}
                        <th>
                            {{ 'index_patterns'|trans }}
                        </th>
                    {% endif %}

                    {% if 'order' == column %}
                        <th>
                            {{ 'order'|trans }}
                        </th>
                    {% endif %}

                    {% if 'version' == column %}
                        <th>
                            {{ 'version'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in templates.rows %}
            <tr>
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('index_templates_legacy_read', {'name': row.name}) }}">{{ row.name }}</a>
                            </td>
                        {% endif %}

                        {% if 'index_patterns' == column %}
                            <td>
                                {{ row.indexPatterns|join(',')|replace({'[': '', ']': ''}) }}
                            </td>
                        {% endif %}

                        {% if 'order' == column %}
                            <td>
                                {% if row.order %}
                                    {{ row.order }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'version' == column %}
                            <td>
                                {% if row.version %}
                                    {{ row.version }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
