{% extends 'base.html.twig' %}
{% import 'app_import.html.twig' as appImport %}

{% block head_title %}{{ 'cluster'|trans }} - {{ clusterHealth['cluster_name'] }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'cluster'|trans}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': clusterHealth['cluster_name']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/cluster/cluster_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            <div class="row">
                {{ appImport.dashboardKpi({'title': 'status'|trans, 'badge': {'title': clusterHealth['status'], 'context': clusterHealth['status']}}) }}

                {{ appImport.dashboardKpi({'title': 'nodes'|trans, 'badge': {'title': clusterHealth['number_of_nodes']}}) }}

                {% if master_node %}
                    {{ appImport.dashboardKpi({'title': 'master_node'|trans, 'badge': {'title': master_node}}) }}
                {% endif %}

                {% if indices %}
                    {{ appImport.dashboardKpi({'title': 'indices'|trans, 'badge': {'title': indices}}) }}
                {% endif %}

                {% if shards %}
                    {{ appImport.dashboardKpi({'title': 'shards'|trans, 'badge': {'title': shards}}) }}
                {% endif %}

                {{ appImport.dashboardKpi({'title': 'unassigned_shards'|trans, 'badge': {'title': clusterHealth['unassigned_shards']}}) }}

                {% if documents %}
                    {{ appImport.dashboardKpi({'title': 'documents'|trans, 'badge': {'title': documents}}) }}
                {% endif %}

                {% if store_size %}
                    {{ appImport.dashboardKpi({'title': 'store_size'|trans, 'badge': {'title': store_size|human_filesize}}) }}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
