{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'cluster'|trans }} - {{ cluster_health['cluster_name'] }} - {{ 'audit'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'cluster'|trans}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': cluster_health['cluster_name']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/cluster/cluster_read_tabs.html.twig' with {'active': 'audit'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'audit'|trans}) }}

            <hr>

            <div class="row">
                {% for result, checkpoints in results %}
                    {{ appImport.dashboardKpi({'title': result|trans, 'badge': {'title': checkpoints|length, 'context': result}}) }}
                {% endfor %}
            </div>

            {% embed 'Embed/table_embed.html.twig' %}
                {% import 'Import/app_import.html.twig' as appImport %}

                {% block thead %}
                    <tr>
                        <th>{{ 'audit_checkpoint'|trans }}</th>
                        <th>{{ 'audit_result'|trans }}</th>
                        <th>{{ 'audit_comment'|trans }}</th>
                        <th class="d-none d-xl-table-cell">&nbsp;</th>
                        <th class="d-none d-xl-table-cell">&nbsp;</th>
                    </tr>
                {% endblock %}

                {% block tbody %}
                    {% for result, checkpoints in results %}
                        {% for checkpoint, parameters in checkpoints %}
                            <tr>
                                <td>{{ ('audit_checkpoints.' ~ checkpoint)|trans }}</td>
                                <td>
                                    {{ appImport.badge({'title': result|trans, 'context': result}) }}
                                </td>

                                {% if 'end_of_life' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            The release is no longer supported since {{ parameters['eol_date']|date('D, d M Y') }}.
                                        {% endif %}
                                        {% if 'audit_pass' == result %}
                                            The release is supported until {{ parameters['eol_date']|date('D, d M Y') }}.
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/support/eol">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'security_features' == checkpoint %}
                                    <td>
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if 'audit_fail' == result %}
                                            <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-security.html">{{ 'help'|trans }}</a>
                                        {% endif %}
                                    </td>
                                {% endif %}

                                {% if 'cluster_name' == checkpoint %}
                                    <td>
                                        {% if 'audit_notice' == result %}
                                            The name may be changed to a name which describes the purpose of the cluster.
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if 'audit_notice' == result %}
                                            <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster.name.html">{{ 'help'|trans }}</a>
                                        {% endif %}
                                    </td>
                                {% endif %}

                                {% if 'same_es_version' == checkpoint %}
                                    <td>
                                        {% if 1 == parameters|length %}
                                            The installed versions is: {{ parameters|join(', ') }}
                                        {% else %}
                                            The installed versions are: {{ parameters|join(', ') }}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                {% endif %}

                                {% if 'same_plugins' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            Plugins are missing for the following nodes:
                                            {% for node, plugins in parameters %}
                                                {{ node }} ({{ plugins|join(', ') }}){% if false == loop.last %},{% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if 'audit_pass' == result %}
                                            {% if 0 < parameters|length %}
                                                The installed plugins are: {{ parameters|join(', ') }}
                                            {% else %}
                                                No plugins are installed.
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                {% endif %}

                                {% if 'unassigned_shards' == checkpoint %}
                                    <td>
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if 'audit_fail' == result and true == hasFeature('allocation_explain') and is_granted('CLUSTER_ALLOCATION_EXPLAIN', 'global') %}
                                            <a href="{{ path('cluster_allocation_explain') }}">{{ 'allocation_explain'|trans }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                {% endif %}

                                {% if 'indices_with_replica' == checkpoint %}
                                    <td>
                                        {% if 'audit_notice' == result %}
                                            There is only one node.
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if 'audit_fail' == result and is_granted('INDICES', 'global') %}
                                            <a href="{{ path('indices', {'s': 'rep:asc'}) }}">Indices</a>
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                {% endif %}

                                {% if 'indices_opened' == checkpoint %}
                                    <td>
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if 'audit_fail' == result and is_granted('INDICES', 'global') %}
                                            <a href="{{ path('indices', {'s': 'status:asc'}) }}">Indices</a>
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if 'audit_fail' == result %}
                                            <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/index-management-settings.html">{{ 'help'|trans }}</a>
                                        {% endif %}
                                    </td>
                                {% endif %}

                                {% if 'adaptive_replica_selection' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            The setting <code>cluster.routing.use_adaptive_replica_selection</code> should be set to <code>true</code>.
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if 'audit_fail' == result %}
                                            {% if true == hasFeature('cluster_settings') and is_granted('CLUSTER_SETTINGS', 'global') and is_granted('CLUSTER_SETTING_EDIT', 'global') %}
                                                <a href="{{ path('cluster_settings') }}">Cluster settings</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/search.html#search-adaptive-replica">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'close_index_not_enabled' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            The setting <code>cluster.indices.close.enable</code> should be set to <code>false</code>.
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if 'audit_fail' == result %}
                                            {% if true == hasFeature('cluster_settings') and is_granted('CLUSTER_SETTINGS', 'global') and is_granted('CLUSTER_SETTING_EDIT', 'global') %}
                                                <a href="{{ path('cluster_settings') }}">Cluster settings</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/index-management-settings.html">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'allocation_disk_threshold' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            The setting <code>cluster.routing.allocation.disk.threshold_enabled</code> should be set to <code>true</code>.
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if 'audit_fail' == result %}
                                            {% if true == hasFeature('cluster_settings') and is_granted('CLUSTER_SETTINGS', 'global') and is_granted('CLUSTER_SETTING_EDIT', 'global') %}
                                                <a href="{{ path('cluster_settings') }}">Cluster settings</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-cluster.html#disk-based-shard-allocation">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'cpu_below_90' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            The value is wrong for the following nodes:
                                            {% for node, value in parameters %}
                                                {{ node }} ({{ value }}%){% if false == loop.last %},{% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if is_granted('NODES', 'global') %}
                                            <a href="{{ path('nodes') }}">{{ 'nodes'|trans }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                {% endif %}

                                {% if 'heap_size_below_50' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            The value is wrong for the following nodes:
                                            {% for node, value in parameters %}
                                                {{ node }} ({{ value|round(2) }}%){% if false == loop.last %},{% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if is_granted('NODES', 'global') %}
                                            <a href="{{ path('nodes') }}">{{ 'nodes'|trans }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/heap-size.html">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'anonymous_access_disabled' == checkpoint %}
                                    <td>
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/anonymous-access.html">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'license_not_expired' == checkpoint %}
                                    <td>
                                        {% if parameters['expiry_date_in_millis'] is defined %}
                                            The {{ parameters['type'] }} license expires on {{ parameters['expiry_date_in_millis']|human_datetime }}.
                                        {% else %}
                                            {% if 'audit_notice' == result %}
                                                There is no expiration with basic license.
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if true == hasFeature('license') and is_granted('LICENSE', 'global') %}
                                            <a href="{{ path('license') }}">{{ 'license'|trans }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                {% endif %}

                                {% if 'file_descriptors' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            The value is wrong for the following nodes:
                                            {% for node, value in parameters %}
                                                {{ node }} ({{ value }}){% if false == loop.last %},{% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/file-descriptors.html">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'password_not_changeme' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            The user <code>elastic</code> uses the default password <code>changeme</code>.
                                        {% endif %}
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                    </td>
                                    <td class="d-none d-xl-table-cell">
                                        {% if 'audit_fail' == result %}
                                            <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-passwords.html">{{ 'help'|trans }}</a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
