{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'cluster'|trans }} - {{ cluster_health['cluster_name'] }} - {{ 'audit'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'cluster'|trans}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': cluster_health['cluster_name']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/cluster/cluster_read_tabs.html.twig' with {'active': 'audit'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'audit'|trans}) }}

            <hr>

            <div class="row">
                {% for result, checkpoints in results %}
                    {{ appImport.dashboardKpi({'title': result|trans, 'badge': {'title': checkpoints|length, 'context': result}}) }}
                {% endfor %}
            </div>

            {% embed 'Embed/table_embed.html.twig' %}
                {% import 'Import/app_import.html.twig' as appImport %}

                {% block thead %}
                    <tr>
                        <th>{{ 'audit_check'|trans }}</th>
                        <th>{{ 'audit_result'|trans }}</th>
                        <th>{{ 'audit_comment'|trans }}</th>
                        <th>&nbsp;</th>
                    </tr>
                {% endblock %}

                {% block tbody %}
                    {% for result, checkpoints in results %}
                        {% for checkpoint, parameters in checkpoints %}
                            <tr>
                                <td>{{ ('audit_checkpoints.' ~ checkpoint)|trans }}</td>
                                <td>
                                    {{ appImport.badge({'title': result|trans, 'context': result}) }}
                                </td>

                                {% if 'end_of_life' == checkpoint %}
                                    <td>
                                        End of Life {{ parameters['eol_date'] }}
                                    </td>
                                    <td>
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/support/eol">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'security_features' == checkpoint %}
                                    <td>
                                    </td>
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-security.html">{{ 'help'|trans }}</a>
                                        {% endif %}
                                    </td>
                                {% endif %}

                                {% if 'cluster_name' == checkpoint %}
                                    <td>
                                        {% if 'audit_notice' == result %}
                                            You should change it to an appropriate name which describes the purpose of the cluster.<br>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if 'audit_notice' == result %}
                                            <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster.name.html">{{ 'help'|trans }}</a>
                                        {% endif %}
                                    </td>
                                {% endif %}

                                {% if 'same_es_version' == checkpoint %}
                                    <td>
                                        {{ nodes_versions|join(', ') }}
                                    </td>
                                    <td>
                                    </td>
                                {% endif %}

                                {% if 'unassigned_shards' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result and true == hasFeature('allocation_explain') and is_granted('CLUSTER_ALLOCATION_EXPLAIN', 'global') %}
                                            <a href="{{ path('cluster_allocation_explain') }}">{{ 'allocation_explain'|trans }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                    </td>
                                {% endif %}

                                {% if 'adaptive_replica_selection' == checkpoint %}
                                    <td>
                                        {% if true == hasFeature('adaptive_replica_selection') %}
                                            {% if 'audit_fail' == result %}
                                                {% if true == hasFeature('cluster_settings') and is_granted('CLUSTER_SETTINGS', 'global') and is_granted('CLUSTER_SETTING_EDIT', 'global') %}
                                                    Set <code>cluster.routing.use_adaptive_replica_selection</code> to <code>true</code> in <a href="{{ path('cluster_settings') }}">cluster settings</a><br>
                                                {% else %}
                                                    Set <code>cluster.routing.use_adaptive_replica_selection</code> to <code>true</code> in cluster settings<br>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            Available for version 6.1 and later<br>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/search.html#search-adaptive-replica">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'indices_with_replica' == checkpoint %}
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                {% endif %}

                                {% if 'allocation_disk_threshold' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            {% if true == hasFeature('cluster_settings') and is_granted('CLUSTER_SETTINGS', 'global') and is_granted('CLUSTER_SETTING_EDIT', 'global') %}
                                                Set <code>cluster.routing.allocation.disk.threshold_enabled</code> to <code>true</code> in <a href="{{ path('cluster_settings') }}">cluster settings</a><br>
                                            {% else %}
                                                Set <code>cluster.routing.allocation.disk.threshold_enabled</code> to <code>true</code> in cluster settings<br>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-cluster.html#disk-based-shard-allocation">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'cpu_below_90' == checkpoint %}
                                    <td>
                                        {% if 'audit_fail' == result %}
                                            {% for row in nodes_cpu_over_90 %}
                                                {{ row['node'] }} {{ row['percent'] }}%<br>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                    </td>
                                {% endif %}

                                {% if 'anonymous_access_disabled' == checkpoint %}
                                    <td>
                                    </td>
                                    <td>
                                        <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/anonymous-access.html">{{ 'help'|trans }}</a>
                                    </td>
                                {% endif %}

                                {% if 'license_not_expired' == checkpoint %}
                                    <td>
                                        {% if parameters['expiry_date_in_millis'] is defined %}
                                            Expires on {{ parameters['expiry_date_in_millis']|human_datetime }}
                                            {% if true == hasFeature('license') and is_granted('LICENSE', 'global') %}
                                                <a href="{{ path('license') }}">{{ 'license'|trans }}</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
