<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'summary' == active %} active{% endif %}" href="{{ path('cluster') }}">{{ 'summary'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link{% if 'settings' == active %} active{% endif %}" href="{{ path('cluster_settings') }}">{{ 'settings'|trans }}</a>
    </li>

    {% if 0 < cluster_health['unassigned_shards'] %}
        <li class="nav-item">
            <a class="nav-link{% if 'allocation_explain' == active %} active{% endif %}" href="{{ path('cluster_allocation_explain') }}">{{ 'allocation_explain'|trans }}</a>
        </li>
    {% endif %}
</ul>
