{% embed 'table_embed.html.twig' %}
    {% import 'app_import.html.twig' as appImport %}

    {% set columns = {'name': true, 'policy_name': true, 'repository': true, 'schedule': true, 'next_execution': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ 'name'|trans }}
                        </th>
                    {% endif %}

                    {% if 'policy_name' == column %}
                        <th>
                            {{ 'policy_name'|trans }}
                        </th>
                    {% endif %}

                    {% if 'repository' == column %}
                        <th>
                            {{ 'repository'|trans }}
                        </th>
                    {% endif %}

                    {% if 'schedule' == column %}
                        <th>
                            {{ 'schedule'|trans }}
                        </th>
                    {% endif %}

                    {% if 'next_execution' == column %}
                        <th>
                            {{ 'next_execution'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in policies.rows %}
            <tr>
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('snapshots_policies_read', {'name': row['name']}) }}">{{ row['name'] }}</a>
                            </td>
                        {% endif %}

                        {% if 'policy_name' == column %}
                            <td>
                                {{ row['policy']['name'] }}
                            </td>
                        {% endif %}

                        {% if 'repository' == column %}
                            <td>
                                <a href="{{ path('repositories_read', {'repository': row['policy']['repository']}) }}">{{ row['policy']['repository'] }}</a>
                            </td>
                        {% endif %}

                        {% if 'schedule' == column %}
                            <td>
                                {{ row['policy']['schedule'] }}
                            </td>
                        {% endif %}

                        {% if 'next_execution' == column %}
                            <td>
                                {{ row['next_execution_millis']|human_datetime }}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
