<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'summary' == active %} active{% endif %}" href="{{ path('snapshots_read', {'repository': repository, 'snapshot': snapshot['snapshot']}) }}">{{ 'summary'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link{% if 'restore' == active %} active{% endif %}" href="{{ path('snapshots_read_restore', {'repository': repository, 'snapshot': snapshot['snapshot']}) }}">{{ 'restore'|trans }}</a>
    </li>

    {% if 0 < snapshot['failures']|length %}
        <li class="nav-item">
            <a class="nav-link{% if 'failures' == active %} active{% endif %}" href="{{ path('snapshots_read_failures', {'repository': repository, 'snapshot': snapshot['snapshot']}) }}">{{ 'failures'|trans }}</a>
        </li>
    {% endif %}
</ul>
