{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'index_templates'|trans }} - {{ template['name'] }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'index_templates'|trans, 'link': {'url': path('index_templates')}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': template['name']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/index_template/index_template_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            {% if false == template['is_system'] %}
                {% embed 'Embed/buttons_embed.html.twig' %}
                    {% import 'Import/app_import.html.twig' as appImport %}
                    {% block content %}
                        {{ appImport.buttonModal({
                            'id': 'IndexTemplateDelete',
                            'title': 'delete'|trans,
                            'body': template['name'],
                            'href': path('index_templates_delete', {'name': template['name']}),
                        }) }}

                        <a class="btn btn-primary btn-sm" href="{{ path('index_templates_create', {'template': template['name']}) }}">{{ 'copy'|trans }}</a>
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {% if template['settings']['index']['lifecycle'] is defined %}
                <p>
                    <strong>{{ 'ilm_policy'|trans }}</strong><br>
                    <a href="{{ path('ilm_read', {'name': template['settings']['index']['lifecycle']['name']}) }}">{{ template['settings']['index']['lifecycle']['name'] }}</a>
                </p>
            {% endif %}

            <p>
                <strong>{{ 'index_patterns'|trans }}</strong><br>
                {{ template['index_patterns']|join(', ') }}
            </p>

            {% if template['version'] is defined %}
                <p>
                    <strong>{{ 'version'|trans }}</strong><br>
                    {{ template['version'] }}
                </p>
            {% endif %}

            <p>
                <strong>{{ 'order'|trans }}</strong><br>
                {{ template['order'] }}
            </p>
        {% endblock %}
    {% endembed %}
{% endblock %}
