{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'name': true, 'index_patterns': true, 'order': true, 'version': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ appImport.sort({'url': path('index_templates'), 's': 'name', 'title': 'name'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'index_patterns' == column %}
                        <th>
                            {{ appImport.sort({'url': path('index_templates'), 's': 'index_patterns', 'title': 'index_patterns'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'order' == column %}
                        <th>
                            {{ appImport.sort({'url': path('index_templates'), 's': 'order', 'title': 'order'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'version' == column %}
                        <th>
                            {{ appImport.sort({'url': path('index_templates'), 's': 'version', 'title': 'version'|trans})}}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in indexTemplates.rows %}
            <tr class="index_template_system-{% if '.' == row['name']|slice(0, 1) %}true{% else %}false{% endif %}" data-search="{{ row['name'] }}">
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('index_templates_read', {'name': row['name']}) }}">{{ row['name'] }}</a>
                            </td>
                        {% endif %}

                        {% if 'index_patterns' == column %}
                            <td>
                                {{ row['index_patterns']|replace({'[': '', ']': ''}) }}
                            </td>
                        {% endif %}

                        {% if 'order' == column %}
                            <td>
                                {{ row['order'] }}
                            </td>
                        {% endif %}

                        {% if 'version' == column %}
                            <td>
                                {{ row['version'] }}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
