{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'license'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'license'|trans}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/license/license_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            {% embed 'Embed/buttons_embed.html.twig' %}
                {% import 'Import/app_import.html.twig' as appImport %}
                {% block content %}
                    {% if true == trial_status %}
                        {{ appImport.buttonModal({
                            'id': 'StartTrial',
                            'title': 'start_trial'|trans,
                            'href': path('license_start_trial'),
                        }) }}
                    {% endif %}

                    {% if true == basic_status %}
                        {{ appImport.buttonModal({
                            'id': 'StartBasic',
                            'title': 'start_basic'|trans,
                            'body': 'help_modal.license.start_basic'|trans,
                            'href': path('license_start_basic'),
                        }) }}
                    {% endif %}
                {% endblock %}
            {% endembed %}

            {% if license['type'] is defined %}
                <p>
                    <strong>{{ 'type'|trans }}</strong><br>
                    {{ license['type'] }}
                </p>
            {% endif %}

            {% if license['status'] is defined %}
                <p>
                    <strong>{{ 'status'|trans }}</strong><br>
                    {{ license['status'] }}
                </p>
            {% endif %}

            {% if license['issue_date_in_millis'] is defined %}
                <p>
                    <strong>{{ 'issue_date'|trans }}</strong><br>
                    {{ license['issue_date_in_millis']|human_datetime }}
                </p>
            {% endif %}

            {% if license['expiry_date_in_millis'] is defined %}
                <p>
                    <strong>{{ 'expiry_date'|trans }}</strong><br>
                    {{ license['expiry_date_in_millis']|human_datetime }}
                </p>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% if xpack['features'] is defined %}
        {% embed 'Embed/card_embed.html.twig' %}
            {% import 'Import/app_import.html.twig' as appImport %}
            {% block content %}
                {{ appImport.heading({'level': 4, 'title': 'features'|trans}) }}

                {% embed 'Embed/table_embed.html.twig' %}
                    {% import 'Import/app_import.html.twig' as appImport %}

                    {% block thead %}
                        <tr>
                            <th>{{ 'feature'|trans }}</th>
                            <th>{{ 'available'|trans }}</th>
                            <th>{{ 'enabled'|trans }}</th>
                        </tr>
                    {% endblock %}

                    {% block tbody %}
                        {% for key, value in xpack['features'] %}
                            <tr>
                                <td>
                                    {{ key }}
                                </td>
                                <td>
                                    {{ appImport.badge({'title': ('boolean.' ~ value['available'])|trans, 'context': value['available']}) }}
                                </td>
                                <td>
                                    {{ appImport.badge({'title': ('boolean.' ~ value['enabled'])|trans, 'context': value['enabled']}) }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}
