{% extends 'base.html.twig' %}

{% block head_title %}{{ 'error405.title'|trans }}{% endblock %}

{% block main_content %}
    <div class="jumbotron mt-3 bg-secondary text-{{ themeColor2 }} border border-{{ themeColor2 }}">
        <h1 class="display-4">{{ 'error405.title'|trans }}</h1>
        <p class="lead">{{ 'error405.note'|trans }}</p>
    </div>
{% endblock %}
