{% extends 'base.html.twig' %}

{% block head_title %}{{ 'error500.title'|trans }}{% endblock %}

{% block main_content %}
    <div class="jumbotron {{ theme_jumbotron }} ">
        <h1 class="display-4">{{ 'error500.title'|trans }}</h1>
        <p class="lead">{{ message }}</p>

        <ul class="list-unstyled">
            <li>File: {{ file }}</li>
            <li>Line: {{ line }}</li>
            <li>Route: {{ route }}</li>
        </ul>

        <ul class="list-unstyled">
            <li>Installation type: {{ installation_type }}</li>
            <li>PHP version: {{ php_version }}</li>
            <li>Symfony version: {{ symfony_version }}</li>
            <li>Elasticsearch version: {{ root['version']['number'] }}</li>
        </ul>

        <ul class="list-unstyled">
            <li>Browser: {{ client }}</li>
            <li>OS: {{ os }}</li>
        </ul>

        <p>
            <a class="btn btn-primary btn-lg" rel="noreferrer" target="_blank" href="https://github.com/stephanediondev/elasticsearch-admin/issues">Issues on GitHub</a>
        </p>
    </div>
{% endblock %}
