{% extends 'base.html.twig' %}

{% block head_title %}{{ 'error500.title'|trans }}{% endblock %}

{% block main_content %}
    <div class="jumbotron mt-3">
        <h1 class="display-4">{{ 'error500.title'|trans }}</h1>
        <p class="lead">{{ message }}</p>

        <ul class="list-unstyled">
            <li>Route: {{ route }}</li>
            <li>File: {{ file }}</li>
            <li>Line: {{ line }}</li>
            <li>PHP version: {{ php_version }}</li>
            <li>Symfony version: 5.1.3</li>
            <li>Elasticsearch version: {{ root['version']['number'] }}</li>
        </ul>

        <p>
            <a class="btn btn-primary btn-lg" href="https://github.com/stephanediondev/elasticsearch-admin/issues" target="_blank">Issues on GitHub</a>
        </p>
    </div>
{% endblock %}
