{% extends 'base.html.twig' %}
{% import 'app_import.html.twig' as appImport %}

{% block head_title %}{{ 'nodes'|trans }} - {{ node['name'] }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'nodes'|trans, 'link': path('nodes', {})}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': node['name']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/nodes/nodes_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            <p>
                <strong>{{ 'master'|trans }}</strong><br>
                {% if master_node == node['name'] %}
                    {{ appImport.badge({'title': 'true', 'context': 'true'}) }}
                {% else %}
                    {{ appImport.badge({'title': 'false', 'context': 'false'}) }}
                {% endif %}
            </p>

            <p>
                <strong>{{ 'master_eligible'|trans }}</strong><br>
                {{ appImport.badge({'title': node['settings']['node']['master'], 'context': node['settings']['node']['master']}) }}
            </p>

            <p>
                <strong>{{ 'voting_only'|trans }}</strong><br>
                {% if node['settings']['node']['voting_only'] is defined %}
                    {{ appImport.badge({'title': node['settings']['node']['voting_only'], 'context': node['settings']['node']['voting_only']}) }}
                {% else %}
                    {{ appImport.badge({'title': 'false', 'context': 'false'}) }}
                {% endif %}
            </p>

            <p>
                <strong>{{ 'data'|trans }}</strong><br>
                {{ appImport.badge({'title': node['settings']['node']['data'], 'context': node['settings']['node']['data']}) }}
            </p>

            <p>
                <strong>{{ 'ip'|trans }}</strong><br>
                {{ node['ip'] }}
            </p>

            <p>
                <strong>{{ 'version'|trans }}</strong><br>
                {{ node['version'] }}
            </p>

            <p>
                <strong>{{ 'os'|trans }}</strong><br>
                {{ node['os']['pretty_name'] }}
            </p>

            <p>
                <strong>{{ 'os_version'|trans }}</strong><br>
                {{ node['os']['version'] }}
            </p>

            <p>
                <strong>{{ 'os_arch'|trans }}</strong><br>
                {{ node['os']['arch'] }}
            </p>
        {% endblock %}
    {% endembed %}

    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'jvm'|trans}) }}

            <p>
                <strong>{{ 'vm_name'|trans }}</strong><br>
                {{ node['jvm']['vm_name'] }}
            </p>

            <p>
                <strong>{{ 'vm_version'|trans }}</strong><br>
                {{ node['jvm']['vm_version'] }}
            </p>

            <p>
                <strong>{{ 'vm_vendor'|trans }}</strong><br>
                {{ node['jvm']['vm_vendor'] }}
            </p>
        {% endblock %}
    {% endembed %}
{% endblock %}
