{% embed 'table_embed.html.twig' %}
    {% import 'app_import.html.twig' as appImport %}

    {% set columns = {'name': true, 'master': true, 'master_eligible': true, 'voting_only': true, 'data': true, 'ip': false, 'version': false, 'os': false, 'uptime': true, 'process_cpu': true, 'heap_usage': true, 'memory_usage': true, 'disk_usage': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ 'name'|trans }}
                        </th>
                    {% endif %}

                    {% if 'master' == column %}
                        <th>
                            {{ 'master'|trans }}
                        </th>
                    {% endif %}


                    {% if 'master_eligible' == column %}
                        <th>
                            {{ 'master_eligible'|trans }}
                        </th>
                    {% endif %}

                    {% if 'voting_only' == column %}
                        <th>
                            {{ 'voting_only'|trans }}
                        </th>
                    {% endif %}

                    {% if 'data' == column %}
                        <th>
                            {{ 'data'|trans }}
                        </th>
                    {% endif %}

                    {% if 'ip' == column %}
                        <th>
                            {{ 'ip'|trans }}
                        </th>
                    {% endif %}

                    {% if 'version' == column %}
                        <th>
                            {{ 'version'|trans }}
                        </th>
                    {% endif %}

                    {% if 'os' == column %}
                        <th>
                            {{ 'os'|trans }}
                        </th>
                    {% endif %}

                    {% if 'process_cpu' == column %}
                        <th>
                            {{ 'process_cpu'|trans }}
                        </th>
                    {% endif %}

                    {% if 'heap_usage' == column %}
                        <th>
                            {{ 'heap_usage'|trans }}
                        </th>
                    {% endif %}

                    {% if 'memory_usage' == column %}
                        <th>
                            {{ 'memory_usage'|trans }}
                        </th>
                    {% endif %}

                    {% if 'disk_usage' == column %}
                        <th>
                            {{ 'disk_usage'|trans }}
                        </th>
                    {% endif %}

                    {% if 'uptime' == column %}
                        <th>
                            {{ 'uptime'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in nodes.rows %}
            <tr>
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('nodes_read', {'node': row['name']}) }}">{{ row['name'] }}</a>
                                <br><small>{{ 'os'|trans }}: {{ row['os']['pretty_name'] }}</small>
                                <br><small>{{ 'ip'|trans }}: {{ row['ip'] }}</small>
                                <br><small>{{ 'version'|trans }}: {{ row['version'] }}</small>
                            </td>
                        {% endif %}

                        {% if 'master' == column %}
                            <td>
                                {% if '*' == row['master'] %}
                                    {{ appImport.badge({'title': 'true', 'context': 'true'}) }}
                                {% else %}
                                    {{ appImport.badge({'title': 'false', 'context': 'false'}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'master_eligible' == column %}
                            <td>
                                {{ appImport.badge({'title': row['settings']['node']['master'], 'context': row['settings']['node']['master']}) }}
                            </td>
                        {% endif %}

                        {% if 'voting_only' == column %}
                            <td>
                                {% if row['settings']['node']['voting_only'] is defined %}
                                    {{ appImport.badge({'title': row['settings']['node']['voting_only'], 'context': row['settings']['node']['voting_only']}) }}
                                {% else %}
                                    {{ appImport.badge({'title': 'false', 'context': 'false'}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'data' == column %}
                            <td>
                                {{ appImport.badge({'title': row['settings']['node']['data'], 'context': row['settings']['node']['data']}) }}
                            </td>
                        {% endif %}

                        {% if 'ip' == column %}
                            <td>
                                {{ row['ip'] }}
                            </td>
                        {% endif %}

                        {% if 'version' == column %}
                            <td>
                                {{ row['version'] }}
                            </td>
                        {% endif %}

                        {% if 'os' == column %}
                            <td>
                                {{ row['os']['pretty_name'] }}
                            </td>
                        {% endif %}


                        {% if 'process_cpu' == column %}
                            <td>
                                {{ row['cpu'] }}%
                            </td>
                        {% endif %}

                        {% if 'heap_usage' == column %}
                            <td>
                                {{ row['heap.percent'] }}%
                                <br><small>{{ row['heap.current'] }} / {{ row['heap.max'] }}</small>
                            </td>
                        {% endif %}

                        {% if 'memory_usage' == column %}
                            <td>
                                {{ row['ram.percent'] }}%
                                <br><small>{{ row['ram.current'] }} / {{ row['ram.max'] }}</small>
                            </td>
                        {% endif %}

                        {% if 'disk_usage' == column %}
                            <td>
                                {{ row['disk.used_percent'] }}%
                                <br><small>{{ row['disk.used'] }} / {{ row['disk.total'] }}</small>
                            </td>
                        {% endif %}

                        {% if 'uptime' == column %}
                            <td>
                                {{ row['uptime'] }}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
