{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'name': true, 'master_eligible': false, 'voting_only': false, 'data': false, 'uptime': true, 'load_average': false, 'cpu_usage': true, 'memory_usage': true, 'disk_usage': false, 'heap_usage': true} %}

    {% if true == hasFeature('load_average') %}
        {% set columns = columns|merge({'load_average': true}) %}
    {% endif %}

    {% if true == hasFeature('node_roles') %}
        {% set columns = columns|merge({'master_eligible': true, 'data': true}) %}

        {% if true == hasFeature('voting_only') %}
            {% set columns = columns|merge({'voting_only': true}) %}
        {% endif %}
    {% endif %}

    {% if true == hasFeature('cat_nodes_disk') %}
        {% set columns = columns|merge({'disk_usage': true}) %}
    {% endif %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 's': 'name', 'title': 'name'|trans, 'default': ':asc'})}}
                        </th>
                    {% endif %}

                    {% if 'master_eligible' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ 'master_eligible'|trans }}
                        </th>
                    {% endif %}

                    {% if 'voting_only' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ 'voting_only'|trans }}
                        </th>
                    {% endif %}

                    {% if 'data' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ 'data'|trans }}
                        </th>
                    {% endif %}

                    {% if 'cpu_usage' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 's': 'cpu', 'title': 'cpu_usage'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'heap_usage' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 's': 'heap.percent', 'title': 'heap_usage'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'memory_usage' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 's': 'ram.percent', 'title': 'memory_usage'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'disk_usage' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 's': 'disk.used_percent', 'title': 'disk_usage'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'uptime' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 's': 'uptime', 'title': 'uptime'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'load_average' == column %}
                        <th>
                            {{ 'load_average'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in nodes.rows %}
            {% if true == hasFeature('node_roles') and row['roles'] is defined %}
                <tr class="master_eligible-{% if 'master' in row['roles'] %}true{% else %}false{% endif %} voting_only-{% if 'voting_only' in row['roles'] %}true{% else %}false{% endif %} data-{% if 'data' in row['roles'] %}true{% else %}false{% endif %}" data-search="{{ row['name'] }}">
            {% else %}
                <tr data-search="{{ row['name'] }}">
            {% endif %}
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('nodes_read', {'node': row['name']}) }}">{{ row['name'] }}</a>
                                {% if '*' == row['master'] %}{{ appImport.badge({'title': 'master'|trans, 'context': 'master_node'}) }}{% endif %}
                                {% if row['host'] is defined %}
                                    <br><small>{{ 'host'|trans }}: {{ row['host'] }}</small>
                                {% endif %}
                                {% if row['ip'] is defined %}
                                    <br><small>{{ 'ip'|trans }}: {{ row['ip'] }}</small>
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'master_eligible' == column %}
                            <td class="d-none d-xl-table-cell">
                                {% if row['roles'] is defined %}
                                    {% if 'master' in row['roles'] %}
                                        {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                    {% else %}
                                        {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'voting_only' == column %}
                            <td class="d-none d-xl-table-cell">
                                {% if true == hasFeature('voting_only') and row['roles'] is defined %}
                                    {% if 'voting_only' in row['roles'] %}
                                        {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                    {% else %}
                                        {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'data' == column %}
                            <td class="d-none d-xl-table-cell">
                                {% if row['roles'] is defined %}
                                    {% if 'data' in row['roles'] %}
                                        {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                    {% else %}
                                        {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'cpu_usage' == column %}
                            <td>
                                {% if row['stats']['os']['cpu']['percent'] is defined %}
                                    <strong>{{ row['stats']['os']['cpu']['percent'] }}%</strong>
                                    <br><small>{{ 'process'|trans }}: {{ row['stats']['process']['cpu']['percent'] }}%</small>
                                {% else %}
                                    <strong>{{ 'process'|trans }}: {{ row['stats']['process']['cpu']['percent'] }}%</strong>
                                {% endif %}
                                {% if row['os']['allocated_processors'] is defined %}
                                    <br><small>{{ 'processors'|trans }}: {{ row['os']['allocated_processors'] }}</small>
                                {% endif %}

                                {% if row['stats']['os']['cpu']['percent'] is defined and 90 < row['stats']['os']['cpu']['percent'] %}
                                    <br>{{ appImport.badge({'title': 'watermark_high'|trans, 'context': 'danger'}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'heap_usage' == column %}
                            <td>
                                <strong>{{ row['heap.percent'] }}%</strong>
                                {% if row['heap.current'] is defined %}
                                    <br><small>{{ 'used'|trans }}: {{ row['heap.current']|human_filesize }}</small>
                                {% endif %}
                                <br><small>{{ 'total'|trans }}: {{ row['heap.max']|human_filesize }}</small>
                            </td>
                        {% endif %}

                        {% if 'memory_usage' == column %}
                            <td>
                                <strong>{{ row['ram.percent'] }}%</strong>
                                {% if row['ram.current'] is defined %}
                                    <br><small>{{ 'used'|trans }}: {{ row['ram.current']|human_filesize }}</small>
                                {% endif %}
                                <br><small>{{ 'total'|trans }}: {{ row['ram.max']|human_filesize }}</small>
                            </td>
                        {% endif %}

                        {% if 'disk_usage' == column %}
                            <td>
                                <strong>{{ row['disk.used_percent'] }}%</strong>
                                <br><small>{{ 'used'|trans }}: {{ row['disk.used']|human_filesize }}</small>
                                <br><small>{{ 'total'|trans }}: {{ row['disk.total']|human_filesize }}</small>

                                {% if row['disk_threshold'] is defined %}
                                    <br>{{ appImport.badge({'title': row['disk_threshold']|trans, 'context': row['disk_threshold']}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'uptime' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ row['uptime'] }}
                            </td>
                        {% endif %}

                        {% if 'load_average' == column %}
                            <td>
                                {% if row['stats']['os']['cpu']['load_average'] is defined %}
                                    {% if row['stats']['os']['cpu']['load_average']['1m'] is defined %}
                                        <strong>1 min: {{ row['stats']['os']['cpu']['load_average']['1m']|round(2) }}</strong>
                                    {% endif %}
                                    {% if row['stats']['os']['cpu']['load_average']['5m'] is defined %}
                                        <br><small>5 min: {{ row['stats']['os']['cpu']['load_average']['5m']|round(2) }}</small>
                                    {% endif %}
                                    {% if row['stats']['os']['cpu']['load_average']['15m'] is defined %}
                                        <br><small>15 min: {{ row['stats']['os']['cpu']['load_average']['15m']|round(2) }}</small>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
