{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'name': true, 'master_eligible': false, 'voting_only': false, 'data': false, 'uptime': true, 'load_average': false, 'cpu': true, 'disk': false, 'memory': true, 'heap': true} %}

    {% if true == hasFeature('load_average') %}
        {% set columns = columns|merge({'load_average': true}) %}
    {% endif %}

    {% if true == hasFeature('node_roles') %}
        {% set columns = columns|merge({'master_eligible': true, 'data': true}) %}

        {% if true == hasFeature('voting_only') %}
            {% set columns = columns|merge({'voting_only': true}) %}
        {% endif %}
    {% endif %}

    {% if true == hasFeature('cat_nodes_disk') %}
        {% set columns = columns|merge({'disk': true}) %}
    {% endif %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 'sort': 'name', 'title': 'name'|trans, 'default': ':asc'})}}
                        </th>
                    {% endif %}

                    {% if 'master_eligible' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ 'master_eligible'|trans }}
                        </th>
                    {% endif %}

                    {% if 'voting_only' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ 'voting_only'|trans }}
                        </th>
                    {% endif %}

                    {% if 'data' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ 'data'|trans }}
                        </th>
                    {% endif %}

                    {% if 'cpu' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 'sort': 'cpu', 'title': 'cpu'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'heap' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 'sort': 'heap.percent', 'title': 'heap'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'memory' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 'sort': 'ram.percent', 'title': 'memory'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'disk' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 'sort': 'disk.used_percent', 'title': 'disk'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'uptime' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 'sort': 'uptime', 'title': 'uptime'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'load_average' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': path('nodes'), 'sort': 'load_1m', 'title': 'load_average'|trans})}}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in nodes.rows %}
            <tr>
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('nodes_read', {'node': row['name']}) }}">{{ row['name'] }}</a>
                                {% if '*' == row['master'] %}{{ appImport.badge({'title': 'master'|trans, 'context': 'master_node'}) }}{% endif %}
                                {% if row['host'] is defined %}
                                    <br><small>{{ 'host'|trans }}: {{ row['host'] }}</small>
                                {% endif %}
                                {% if row['ip'] is defined %}
                                    <br><small>{{ 'ip'|trans }}: {{ row['ip'] }}</small>
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'master_eligible' == column %}
                            <td class="d-none d-xl-table-cell">
                                {% if row['node.role'] is defined %}
                                    {% if 'm' in row['node.role'] %}
                                        {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                    {% else %}
                                        {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'voting_only' == column %}
                            <td class="d-none d-xl-table-cell">
                                {% if true == hasFeature('voting_only') and row['node.role'] is defined %}
                                    {% if 'v' in row['node.role'] %}
                                        {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                    {% else %}
                                        {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'data' == column %}
                            <td class="d-none d-xl-table-cell">
                                {% if row['node.role'] is defined %}
                                    {% if 'd' in row['node.role'] %}
                                        {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                    {% else %}
                                        {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'cpu' == column %}
                            <td>
                                {% if row['cpu'] is defined %}
                                    {{ 'usage'|trans }}: {{ appImport.badge({'title': row['cpu'] ~ '%', 'context': 90 < row['cpu'] ? 'danger' : 'info'}) }}
                                    {% if row['stats']['process']['cpu']['percent'] is defined %}
                                        <br><small>{{ 'usage_es'|trans }}: {{ appImport.badge({'title': row['stats']['process']['cpu']['percent'] ~ '%', 'context': 90 < row['stats']['process']['cpu']['percent'] ? 'danger' : 'info'}) }}</small>
                                    {% endif %}
                                {% elseif row['stats']['process']['cpu']['percent'] is defined %}
                                    {{ 'usage_es'|trans }}: {{ appImport.badge({'title': row['stats']['process']['cpu']['percent'] ~ '%', 'context': 90 < row['stats']['process']['cpu']['percent'] ? 'danger' : 'info'}) }}
                                {% endif %}
                                {% if row['os']['allocated_processors'] is defined %}
                                    <br><small>{{ 'processors'|trans }}: {{ row['os']['allocated_processors'] }}</small>
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'heap' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ 'usage'|trans }}: {{ appImport.badge({'title': row['heap.percent'] ~ '%', 'context': 'info'}) }}
                                {% if row['heap.current'] is defined %}
                                    <br><small>{{ 'used'|trans }}: {{ row['heap.current']|human_filesize }}</small>
                                {% endif %}
                                <br><small>{{ 'total'|trans }}: {{ row['heap.max']|human_filesize }}</small>
                            </td>
                        {% endif %}

                        {% if 'memory' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ 'usage'|trans }}: {{ appImport.badge({'title': row['ram.percent'] ~ '%', 'context': 'info'}) }}
                                {% if row['ram.current'] is defined %}
                                    <br><small>{{ 'used'|trans }}: {{ row['ram.current']|human_filesize }}</small>
                                {% endif %}
                                <br><small>{{ 'total'|trans }}: {{ row['ram.max']|human_filesize }}</small>
                            </td>
                        {% endif %}

                        {% if 'disk' == column %}
                            <td>
                                {{ 'usage'|trans }}: {{ appImport.badge({'title': row['disk.used_percent'] ~ '%', 'context': row['disk_threshold'] is defined ? row['disk_threshold'] : 'info'}) }}
                                <br><small>{{ 'used'|trans }}: {{ row['disk.used']|human_filesize }}</small>
                                <br><small>{{ 'total'|trans }}: {{ row['disk.total']|human_filesize }}</small>
                            </td>
                        {% endif %}

                        {% if 'uptime' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ appImport.badge({'title': row['uptime'], 'context': 'info'}) }}
                            </td>
                        {% endif %}

                        {% if 'load_average' == column %}
                            <td>
                                {% if row['load_1m'] is defined and row['load_1m'] %}
                                    {% if row['os']['allocated_processors'] is defined %}
                                        {% set load = ((row['load_1m']*100)/row['os']['allocated_processors'])|round(2) %}
                                        1 min: {{ appImport.badge({'title': load ~ '%', 'context': 100 < load ? 'warning' : 'info'}) }}
                                        {% if row['load_5m'] is defined and row['load_5m'] %}
                                            {% set load = ((row['load_5m']*100)/row['os']['allocated_processors'])|round(2) %}
                                            <br><small>5 min: {{ appImport.badge({'title': load ~ '%', 'context': 100 < load ? 'danger' : 'info'}) }}</small>
                                        {% endif %}
                                        {% if row['load_15m'] is defined and row['load_15m'] %}
                                            {% set load = ((row['load_15m']*100)/row['os']['allocated_processors'])|round(2) %}
                                            <br><small>15 min: {{ appImport.badge({'title': load ~ '%', 'context': 100 < load ? 'danger' : 'info'}) }}</small>
                                        {% endif %}
                                    {% else %}
                                        1 min: {{ appImport.badge({'title': row['load_1m']|round(2), 'context': 'info'}) }}
                                        {% if row['load_5m'] is defined and row['load_5m'] %}
                                            <br><small>5 min: {{ row['load_5m']|round(2) }}</small>
                                        {% endif %}
                                        {% if row['load_15m'] is defined and row['load_15m'] %}
                                            <br><small>15 min: {{ row['load_15m']|round(2) }}</small>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
