{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'nodes'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'nodes'|trans}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/node/node_tabs.html.twig' with {'active': 'list'} %}
{% endblock %}

{% block main_content %}
    {% if 0 < nodes.total %}
        {% embed 'Embed/card_embed.html.twig' %}
            {% import 'Import/app_import.html.twig' as appImport %}
            {% block content %}
                {{ appImport.heading({'level': 3, 'title': 'list'|trans, 'badge': {'title': nodes.total}}) }}

                {% embed 'Embed/buttons_embed.html.twig' %}
                    {% import 'Import/app_import.html.twig' as appImport %}
                    {% block content %}
                        <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                            {{ 'filter'|trans }}
                        </button>
                    {% endblock %}
                {% endembed %}

                <div class="collapse" id="collapseFilter">
                    {{ appImport.filterText({'label': 'name'|trans}) }}

                    {% if true == hasFeature('node_roles') %}
                        {{ appImport.filterCheckboxesBoolean({'title': 'master_eligible'|trans, 'prefix': 'master_eligible'}) }}

                        {% if true == hasFeature('voting_only') %}
                            {{ appImport.filterCheckboxesBoolean({'title': 'voting_only'|trans, 'prefix': 'voting_only'}) }}
                        {% endif %}

                        {{ appImport.filterCheckboxesBoolean({'title': 'data'|trans, 'prefix': 'data'}) }}
                    {% endif %}
                </div>

                {{ appImport.paginator(nodes) }}

                <div id="list">
                    {% include 'Modules/node/node_list.html.twig' with {'nodes': nodes} %}
                </div>

                {{ appImport.paginator(nodes) }}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        function fetchNodes() {
            var url = window.location.href;
            if(url.indexOf('?') != -1) {
                url = url + '&fetch=true';
            } else {
                url = url + '?fetch=true';
            }

            fetch(url, {
                credentials: 'include',
                method: 'get'
            }).then(function(response) {
                return response.text();
            }).then(async function(text) {
                $('#list').html(text);
                $('h3 .badge').text($('#list').find('tbody tr').length);

                await sleep(5000);
                fetchNodes();
            }).catch(function() {
            });
        }

        fetchNodes();
    </script>
{% endblock %}
