{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'name': true, 'master': false, 'master_eligible': true, 'voting_only': true, 'data': true, 'ip': false, 'version': false, 'os': false, 'uptime': true, 'cpu_usage': true, 'memory_usage': true, 'disk_usage': true, 'heap_usage': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ 'name'|trans }}
                        </th>
                    {% endif %}

                    {% if 'master' == column %}
                        <th>
                            {{ 'master'|trans }}
                        </th>
                    {% endif %}

                    {% if 'master_eligible' == column %}
                        <th>
                            {{ 'master_eligible'|trans }}
                        </th>
                    {% endif %}

                    {% if 'voting_only' == column %}
                        <th>
                            {{ 'voting_only'|trans }}
                        </th>
                    {% endif %}

                    {% if 'data' == column %}
                        <th>
                            {{ 'data'|trans }}
                        </th>
                    {% endif %}

                    {% if 'ip' == column %}
                        <th>
                            {{ 'ip'|trans }}
                        </th>
                    {% endif %}

                    {% if 'version' == column %}
                        <th>
                            {{ 'version'|trans }}
                        </th>
                    {% endif %}

                    {% if 'os' == column %}
                        <th>
                            {{ 'os'|trans }}
                        </th>
                    {% endif %}

                    {% if 'cpu_usage' == column %}
                        <th>
                            {{ 'cpu_usage'|trans }}
                        </th>
                    {% endif %}

                    {% if 'heap_usage' == column %}
                        <th>
                            {{ 'heap_usage'|trans }}
                        </th>
                    {% endif %}

                    {% if 'memory_usage' == column %}
                        <th>
                            {{ 'memory_usage'|trans }}
                        </th>
                    {% endif %}

                    {% if 'disk_usage' == column %}
                        <th>
                            {{ 'disk_usage'|trans }}
                        </th>
                    {% endif %}

                    {% if 'uptime' == column %}
                        <th>
                            {{ 'uptime'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in nodes.rows %}
            {% if row['settings']['discovery']['type'] is defined and 'single-node' == row['settings']['discovery']['type'] %}
                <tr class="master_eligible-true voting_only-false data-true" data-search="{{ row['name'] }}">
            {% else %}
                <tr class="master_eligible-{{ row['settings']['node']['master'] }} voting_only-{% if row['settings']['node']['voting_only'] is defined %}{{ row['settings']['node']['voting_only'] }}{% else %}false{% endif %} data-{{ row['settings']['node']['data'] }}" data-search="{{ row['name'] }}">
            {% endif %}
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('nodes_read', {'node': row['name']}) }}">{{ row['name'] }}</a>
                                {% if '*' == row['master'] %}{{ appImport.badge({'title': 'master'|trans, 'context': 'master_node'}) }}{% endif %}
                                <br><small>{{ 'host'|trans }}: {{ row['host'] }}</small>
                                <br><small>{{ 'version_es'|trans }}: {{ row['version'] }}</small>
                                <br><small>{{ 'version_jvm'|trans }}: {{ row['jvm']['version'] }}</small>
                            </td>
                        {% endif %}

                        {% if 'master' == column %}
                            <td>
                                {% if '*' == row['master'] %}
                                    {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                {% else %}
                                    {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'master_eligible' == column %}
                            <td>
                                {% if row['settings']['discovery']['type'] is defined and 'single-node' == row['settings']['discovery']['type'] %}
                                    {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                {% else %}
                                    {{ appImport.badge({'title': ('boolean.' ~ row['settings']['node']['master'])|trans, 'context': row['settings']['node']['master']}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'voting_only' == column %}
                            <td>
                                {% if row['settings']['discovery']['type'] is defined and 'single-node' == row['settings']['discovery']['type'] %}
                                    {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                {% else %}
                                    {% if row['settings']['node']['voting_only'] is defined %}
                                        {{ appImport.badge({'title': ('boolean.' ~ row['settings']['node']['voting_only'])|trans, 'context': row['settings']['node']['voting_only']}) }}
                                    {% else %}
                                        {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'data' == column %}
                            <td>
                                {% if row['settings']['discovery']['type'] is defined and 'single-node' == row['settings']['discovery']['type'] %}
                                    {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                {% else %}
                                    {{ appImport.badge({'title': ('boolean.' ~ row['settings']['node']['data'])|trans, 'context': row['settings']['node']['data']}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'ip' == column %}
                            <td>
                                {{ row['ip'] }}
                            </td>
                        {% endif %}

                        {% if 'version' == column %}
                            <td>
                                {{ row['version'] }}
                            </td>
                        {% endif %}

                        {% if 'os' == column %}
                            <td>
                                {{ row['os']['pretty_name'] }}
                            </td>
                        {% endif %}

                        {% if 'cpu_usage' == column %}
                            <td>
                                <strong><span id="{{ row['name'] }}-os-cpu-percent">{{ row['stats']['os']['cpu']['percent'] }}</span>%</strong>
                                <br><small>{{ 'process'|trans }}: <span id="{{ row['name'] }}-process-cpu-percent">{{ row['stats']['process']['cpu']['percent'] }}</span>%</small>
                            </td>
                        {% endif %}

                        {% if 'heap_usage' == column %}
                            <td>
                                <strong><span id="{{ row['name'] }}-heap-percent">{{ row['heap.percent'] }}</span>%</strong>
                                <br><small>{{ 'used'|trans }}: <span id="{{ row['name'] }}-heap-current">{{ row['heap.current'] }}</span></small>
                                <br><small>{{ 'total'|trans }}: <span id="{{ row['name'] }}-heap-max">{{ row['heap.max'] }}</span></small>
                            </td>
                        {% endif %}

                        {% if 'memory_usage' == column %}
                            <td>
                                <strong><span id="{{ row['name'] }}-ram-percent">{{ row['ram.percent'] }}</span>%</strong>
                                <br><small>{{ 'used'|trans }}: <span id="{{ row['name'] }}-ram-current">{{ row['ram.current'] }}</span></small>
                                <br><small>{{ 'total'|trans }}: <span id="{{ row['name'] }}-ram-max">{{ row['ram.max'] }}</span></small>
                            </td>
                        {% endif %}

                        {% if 'disk_usage' == column %}
                            <td>
                                <strong><span id="{{ row['name'] }}-disk-used_percent">{{ row['disk.used_percent'] }}</span>%</strong>
                                <br><small>{{ 'used'|trans }}: <span id="{{ row['name'] }}-disk-used">{{ row['disk.used'] }}</span></small>
                                <br><small>{{ 'total'|trans }}: <span id="{{ row['name'] }}-disk-total">{{ row['disk.total'] }}</span></small><br>

                                <span id="{{ row['name'] }}-disk-watermark_low" class="badge badge-warning d-none">{{ 'watermark_low'|trans }}</span>
                                <span id="{{ row['name'] }}-disk-watermark_high" class="badge badge-danger d-none">{{ 'watermark_high'|trans }}</span>
                                <span id="{{ row['name'] }}-disk-watermark_flood_stage" class="badge badge-dark d-none">{{ 'watermark_flood_stage'|trans }}</span>
                            </td>
                        {% endif %}

                        {% if 'uptime' == column %}
                            <td>
                                <span id="{{ row['name'] }}-uptime">{{ row['uptime'] }}</span>
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
