{% extends 'base.html.twig' %}
{% import 'app_import.html.twig' as appImport %}

{% block head_title %}{{ 'cat'|trans }}{% if rows is defined or help is defined %} - {{ command }}{% endif %}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'cat'|trans}) }}
{% endblock %}

{% block main_content %}
    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.form({'form': form}) }}
        {% endblock %}
    {% endembed %}

    {% if rows is defined or help is defined %}
        {% embed 'card_embed.html.twig' %}
            {% import 'app_import.html.twig' as appImport %}
            {% block content %}
                {% if rows is defined %}
                    {{ appImport.heading({'level': 3, 'title': command, 'badge': rows|length}) }}
                {% else %}
                    {{ appImport.heading({'level': 3, 'title': command}) }}
                {% endif %}

                {% if help is defined %}
                    <p>
                        <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
                            {{ 'help'|trans }}
                        </button>
                    </p>

                    <div class="collapse mb-4" id="collapseHelp">
                        <div class="card card-body">
                            <pre><code>{{ help }}</code></pre>
                        </div>
                    </div>
                {% endif %}

                {% if rows is defined and 0 < rows|length %}
                    {% embed 'table_embed.html.twig' %}
                        {% block thead %}
                            <tr>
                                {% for header in headers %}
                                    <th>
                                        {{ header }}
                                    </th>
                                {% endfor %}
                            </tr>
                        {% endblock %}

                        {% block tbody %}
                            {% for row in rows %}
                                <tr>
                                    {% for column in row %}
                                        <td>
                                            {{ column }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        function toggle() {
            var command = $('#data_command').val();

            if (command.indexOf('{index}') != -1) {
                enable('#data_index');
            } else {
                disable('#data_index');
            }

            if (command.indexOf('{repository}') != -1) {
                enable('#data_repository');
            } else {
                disable('#data_repository');
            }

            if (command.indexOf('{alias}') != -1) {
                enable('#data_alias');
            } else {
                disable('#data_alias');
            }
        }

        function enable(id) {
            $(id).parent().show();
            $(id).attr('required', 'required');
        }

        function disable(id) {
            $(id).parent().hide();
            $(id).removeAttr('required');
        }

        toggle();

        $(document).on('change', '#data_command', function(event) {
            toggle();
        });
    </script>
{% endblock %}
