{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'indices'|trans }} - {{ index['index'] }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'indices'|trans, 'link': {'url': path('indices')}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': index['index']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/index/index_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            {% if false == index['is_system'] %}
                {% embed 'Embed/buttons_embed.html.twig' %}
                    {% import 'Import/app_import.html.twig' as appImport %}
                    {% block content %}
                        {{ appImport.buttonModal({
                            'id': 'IndexDelete',
                            'title': 'delete'|trans,
                            'body': index['index'],
                            'href': path('indices_delete', {'index': index['index']}),
                        }) }}

                        {% if 'close' == index['status'] %}
                            {{ appImport.buttonModal({
                                'id': 'IndexOpen',
                                'title': 'open'|trans,
                                'body': index['index'],
                                'href': path('indices_open', {'index': index['index']}),
                            }) }}
                        {% endif %}

                        {% if 'open' == index['status'] %}
                            {% if cluster_settings['cluster.indices.close.enable'] is defined and 'true' == cluster_settings['cluster.indices.close.enable'] %}
                                {{ appImport.buttonModal({
                                    'id': 'IndexClose',
                                    'title': 'close'|trans,
                                    'body': index['index'],
                                    'href': path('indices_close', {'index': index['index']}),
                                }) }}
                            {% endif %}

                            {{ appImport.buttonModal({
                                'id': 'IndexForceMerge',
                                'title': 'force_merge'|trans,
                                'body': index['index'],
                                'href': path('indices_force_merge', {'index': index['index']}),
                            }) }}

                            {{ appImport.buttonModal({
                                'id': 'IndexCacheClear',
                                'title': 'cache_clear'|trans,
                                'body': index['index'],
                                'href': path('indices_cache_clear', {'index': index['index']}),
                            }) }}

                            {{ appImport.buttonModal({
                                'id': 'IndexFlush',
                                'title': 'flush'|trans,
                                'body': index['index'],
                                'href': path('indices_flush', {'index': index['index']}),
                            }) }}

                            {{ appImport.buttonModal({
                                'id': 'IndexRefresh',
                                'title': 'refresh'|trans,
                                'body': index['index'],
                                'href': path('indices_refresh', {'index': index['index']}),
                            }) }}
                        {% endif %}

                        {% if index['settings']['index']['frozen'] is defined and 'true' == index['settings']['index']['frozen'] %}
                            {{ appImport.buttonModal({
                                'id': 'IndexUnfreeze',
                                'title': 'unfreeze'|trans,
                                'body': index['index'],
                                'href': path('indices_unfreeze', {'index': index['index']}),
                            }) }}
                        {% else %}
                            {{ appImport.buttonModal({
                                'id': 'IndexFreeze',
                                'title': 'freeze'|trans,
                                'body': index['index'],
                                'href': path('indices_freeze', {'index': index['index']}),
                            }) }}
                        {% endif %}

                        {% if 0 < index['docs.count'] %}
                            {{ appImport.buttonModal({
                                'id': 'IndexEmpty',
                                'title': 'empty'|trans,
                                'body': index['index'],
                                'href': path('indices_empty', {'index': index['index']}),
                            }) }}
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endif %}

            <hr>

            <div class="row">
                {{ appImport.dashboardKpi({'title': 'shards'|trans, 'badge': {'title': index['pri']}}) }}

                {{ appImport.dashboardKpi({'title': 'replicas'|trans, 'badge': {'title': index['rep']}}) }}

                {{ appImport.dashboardKpi({'title': 'documents'|trans, 'badge': {'title': index['docs.count']}}) }}

                {{ appImport.dashboardKpi({'title': 'documents_deleted'|trans, 'badge': {'title': index['docs.deleted']}}) }}

                {{ appImport.dashboardKpi({'title': 'primary_size'|trans, 'badge': {'title': index['pri.store.size']}}) }}

                {{ appImport.dashboardKpi({'title': 'total_size'|trans, 'badge': {'title': index['store.size']}}) }}

                {{ appImport.dashboardKpi({'title': 'status'|trans, 'badge': {'title': index['status']|trans, 'context': index['status']}}) }}

                {{ appImport.dashboardKpi({'title': 'health'|trans, 'badge': {'title': index['health']|trans, 'context': index['health']}}) }}

                {% if index['settings']['index']['frozen'] is defined and 'true' == index['settings']['index']['frozen'] %}
                    {{ appImport.dashboardKpi({'title': 'frozen'|trans, 'badge': {'title': 'boolean.true'|trans, 'context': 'true'}}) }}
                {% else %}
                    {{ appImport.dashboardKpi({'title': 'frozen'|trans, 'badge': {'title': 'boolean.false'|trans, 'context': 'false'}}) }}
                {% endif %}


                {% if index['settings']['index']['version']['created'] is defined %}
                    {{ appImport.dashboardKpi({'title': 'version_created'|trans, 'badge': {'title': index['settings']['index']['version']['created']|human_version}}) }}
                {% endif %}

                {% if index['settings']['index']['version']['upgraded'] is defined %}
                    {{ appImport.dashboardKpi({'title': 'version_upgraded'|trans, 'badge': {'title': index['settings']['index']['version']['upgraded']|human_version}}) }}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
