{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% block thead %}
        <tr>
            <th>
                {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': '_id', 'title': '_id'})}}
            </th>
            <th>
                {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': '_score', 'title': '_score'})}}
            </th>
            {% for field, type in index.mappingsFlat %}
                <th>
                    {% if type in ['keyword', 'date'] %}
                        {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': field, 'title': field})}}
                    {% elseif index.mappings['properties'][field]['fields'] is defined %}
                        {% set foundKeyword = false %}
                        {% for fieldSub, propertiesSub in index.mappings['properties'][field]['fields'] %}
                            {% if false == foundKeyword and propertiesSub['type'] is defined and 'keyword' == propertiesSub['type'] %}
                                {% set foundKeyword = true %}
                                {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': field ~ '.' ~ fieldSub, 'title': field})}}
                            {% endif %}
                            {% if false == foundKeyword %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ field }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in documents.rows %}
            <tr>
                <td>
                    {{ row['_id'] }}
                </td>
                <td>
                    {{ row['_score'] }}
                </td>
                {% for field, type in index.mappingsFlat %}
                    <td>
                        {% set value = retrieve_field(row['_source'], field) %}
                        {% if value %}
                            {% if value is iterable %}
                                {% if 'geo_point' == type %}
                                    {{ value['lat'] }},{{ value['lon'] }}
                                {% else %}
                                    {% for fieldSub, valueSub in value %}
                                        {{ valueSub }}<br>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
