{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% block thead %}
        <tr>
            <th>
                {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': '_id', 'title': '_id'})}}
            </th>
            <th>
                {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': '_score', 'title': '_score'})}}
            </th>
            {% for field, properties in index.mappings['properties'] %}
                <th>
                    {% if properties['type'] is defined and properties['type'] in ['keyword', 'date'] %}
                        {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': field, 'title': field})}}
                    {% elseif properties['fields'] is defined %}
                        {% set foundKeyword = false %}
                        {% for fieldSub, propertiesSub in properties['fields'] %}
                            {% if false == foundKeyword and propertiesSub['type'] is defined and 'keyword' == propertiesSub['type'] %}
                                {% set foundKeyword = true %}
                                {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': field ~ '.' ~ fieldSub, 'title': field})}}
                            {% endif %}
                            {% if false == foundKeyword %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ field }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in documents.rows %}
            <tr>
                <td>
                    {{ row['_id'] }}
                </td>
                <td>
                    {{ row['_score'] }}
                </td>
                {% for field, properties in index.mappings['properties'] %}
                    <td>
                        {% if row['_source'][field] is defined %}
                            {% if row['_source'][field] is iterable %}
                                {% if index.mappings['properties'][field]['properties'] is defined %}
                                    {% for fieldSub, propertiesSub in index.mappings['properties'][field]['properties'] %}
                                        {% if row['_source'][field][fieldSub] is defined and row['_source'][field][fieldSub] is not iterable %}
                                            {{ fieldSub }}: {{ row['_source'][field][fieldSub] }}<br>
                                        {% elseif 0 < row['_source'][field][fieldSub] is defined and row['_source'][field][fieldSub]|length %}
                                            {{ fieldSub }}: {{ appImport.badge({'title': 'array'|trans, 'context': 'secondary'}) }}<br>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for fieldSub, valueSub in row['_source'][field] %}
                                        {% if row['_source'][field][fieldSub] is defined and row['_source'][field][fieldSub] is not iterable %}
                                            {{ fieldSub }}: {{ valueSub }}<br>
                                        {% elseif 0 < row['_source'][field][fieldSub] is defined and row['_source'][field][fieldSub]|length %}
                                            {{ fieldSub }}: {{ appImport.badge({'title': 'array'|trans, 'context': 'secondary'}) }}<br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{ row['_source'][field] }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
