{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'indices'|trans }} - {{ index['index'] }} - {{ 'documents'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'indices'|trans, 'link': {'url': path('indices')}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': index['index']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/index/index_read_tabs.html.twig' with {'active': 'documents'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'documents'|trans, 'badge': {'title': documents.total}}) }}

            {% if 0 < documents.total %}
                {% embed 'Embed/buttons_embed.html.twig' %}
                    {% import 'Import/app_import.html.twig' as appImport %}
                    {% block content %}
                        {{ appImport.buttonModal({
                            'id': 'DocumentsDeleteAll',
                            'title': 'delete_all'|trans,
                            'body': index['index'],
                            'href': path('indices_delete_documents', {'index': index['index']}),
                        }) }}

                        <div class="btn-group" role="group">
                            <button id="btnGroupExport" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'export'|trans }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupExport">
                                <a class="dropdown-item" href="{{ path('indices_export_documents', {'index': index['index'], 'type': 'csv', 'delimiter': ','}|merge(app.request.query.all)) }}">CSV,</a>
                                <a class="dropdown-item" href="{{ path('indices_export_documents', {'index': index['index'], 'type': 'csv', 'delimiter': ';'}|merge(app.request.query.all)) }}">CSV;</a>
                                <a class="dropdown-item" href="{{ path('indices_export_documents', {'index': index['index'], 'type': 'csv', 'delimiter': '\t'}|merge(app.request.query.all)) }}">TSV</a>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}

                {{ appImport.paginator(documents) }}

                {% include 'Modules/index/index_read_documents_list.html.twig' with {'documents': documents} %}

                {{ appImport.paginator(documents) }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
