{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'name': true, 'shards': true, 'replicas': true, 'documents': true, 'documents_deleted': false, 'primary_size': true, 'total_size': false, 'status': true, 'health': true, 'frozen': false, 'creation_date': true} %}

    {% if true == hasFeature('freeze_unfreeze') %}
        {% set columns = columns|merge({'frozen': true}) %}
    {% endif %}

    {% set sortUrl = path('indices', app.request.query.all) %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'index', 'title': 'name'|trans, 'default': ':asc'})}}
                        </th>
                    {% endif %}

                    {% if 'shards' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'pri', 'title': 'shards'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'replicas' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'rep', 'title': 'replicas'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'documents' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'docs.count', 'title': 'documents'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'documents_deleted' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'docs.deleted', 'title': 'documents_deleted'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'primary_size' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'pri.store.size', 'title': 'primary_size'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'total_size' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'store.size', 'title': 'total_size'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'status' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'status', 'title': 'status'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'health' == column %}
                        <th>
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'health', 'title': 'health'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'frozen' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'sth', 'title': 'frozen'|trans})}}
                        </th>
                    {% endif %}

                    {% if 'creation_date' == column %}
                        <th class="d-none d-xl-table-cell">
                            {{ appImport.sort({'cat_sort': cat_sort, 'url': sortUrl, 's': 'creation.date.string', 'title': 'creation_date'|trans})}}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in indices.rows %}
            <tr class="index_system-{% if row.isSystem %}true{% else %}false{% endif %} status-{{ row.status }} health-{{ row.health }} frozen-{{ row.frozen }}" data-search="{{ row.name }}">
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('indices_read', {'index': row.name}) }}">{{ row.name }}</a>
                                {% if row.aliases %}
                                    <br><small>{{ row.aliases|keys|join(', ') }}</small>
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'shards' == column %}
                            <td>
                                {{ row.shards }}
                            </td>
                        {% endif %}

                        {% if 'replicas' == column %}
                            <td>
                                {{ row.replicas }}
                            </td>
                        {% endif %}

                        {% if 'documents' == column %}
                            <td>
                                {{ row.documents }}
                            </td>
                        {% endif %}

                        {% if 'documents_deleted' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ row.documentsDeleted }}
                            </td>
                        {% endif %}

                        {% if 'primary_size' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ row.primarySize|human_filesize }}
                            </td>
                        {% endif %}

                        {% if 'total_size' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ row.totalSize|human_filesize }}
                            </td>
                        {% endif %}

                        {% if 'status' == column %}
                            <th class="d-none d-xl-table-cell">
                                {% if row.status %}
                                    {{ appImport.badge({'title': row.status|trans, 'context': row.status}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'health' == column %}
                            <td>
                                {% if row.health %}
                                    {{ appImport.badge({'title': row.health|trans, 'context': row.health}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'frozen' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ appImport.badge({'title': ('boolean.' ~ row.frozen)|trans, 'context': row.frozen}) }}
                            </td>
                        {% endif %}

                        {% if 'creation_date' == column %}
                            <td class="d-none d-xl-table-cell">
                                {{ row.creationDate|human_datetime }}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
