<ul class="nav nav-tabs mb-4">
    {% if is_granted('INDICES', 'global') %}
        <li class="nav-item">
            <a class="nav-link {% if 'list' == active %}active {{ theme_tab_active }}{% else %}{{ theme_tab }}{% endif %}" href="{{ path('indices') }}">{{ 'list'|trans }}</a>
        </li>
    {% endif %}

    {% if is_granted('INDICES_STATS', 'global') %}
        <li class="nav-item">
            <a class="nav-link {% if 'stats' == active %}active {{ theme_tab_active }}{% else %}{{ theme_tab }}{% endif %}" href="{{ path('indices_stats') }}">{{ 'stats'|trans }}</a>
        </li>
    {% endif %}

    {% if is_granted('INDICES_CREATE', 'global') %}
        <li class="nav-item">
            <a class="nav-link {% if 'create_index' == active %}active {{ theme_tab_active }}{% else %}{{ theme_tab }}{% endif %}" href="{{ path('indices_create') }}">{{ 'create_index'|trans }}</a>
        </li>
    {% endif %}

    {% if is_granted('INDICES_REINDEX', 'global') %}
        <li class="nav-item">
            <a class="nav-link {% if 'reindex' == active %}active {{ theme_tab_active }}{% else %}{{ theme_tab }}{% endif %}" href="{{ path('indices_reindex') }}">{{ 'reindex'|trans }}</a>
        </li>
    {% endif %}
</ul>
