{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% block thead %}
        <tr>
            <th>
                {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': '_id', 'title': '_id'})}}
            </th>
            <th>
                {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': '_score', 'title': '_score'})}}
            </th>
            {% for field, type in index.mappingsFlat %}
                <th>
                    {% set sort = retrieve_sort(index, field) %}
                    {% if true == sort %}
                        {{ appImport.sort({'url': path('indices_read_search', {'index': index.name}|merge(app.request.query.all)), 's': sort, 'title': field})}}
                    {% else %}
                        {{ field }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in documents.rows %}
            <tr>
                <td>
                    {{ row['_id'] }}
                </td>
                <td>
                    {{ row['_score'] }}
                </td>
                {% for field, mapping in index.mappingsFlat %}
                    <td>
                        {% set value = retrieve_value(row['_source'], field) %}
                        {% if value %}
                            {% if value is iterable %}
                                {% if 'geo_point' == mapping['type'] %}
                                    <a class="btn btn-info btn-sm ml-1" target="_blank" href="https://www.google.com/maps?q={{ value['lat'] }},{{ value['lon'] }}&z=15">{{ 'map'|trans }}</a>
                                {% else %}
                                    <ul class="list-unstyled">
                                        {% for fieldSub, valueSub in value %}
                                            <li>{{ valueSub }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
