{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'name': true, 'shards': true, 'replicas': true, 'documents': true, 'documents_deleted': true, 'primary_size': true, 'total_size': true, 'status': true, 'health': true, 'frozen': true, 'creation_date': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ 'name'|trans }}
                        </th>
                    {% endif %}

                    {% if 'shards' == column %}
                        <th>
                            {{ 'shards'|trans }}
                        </th>
                    {% endif %}

                    {% if 'replicas' == column %}
                        <th>
                            {{ 'replicas'|trans }}
                        </th>
                    {% endif %}

                    {% if 'documents' == column %}
                        <th>
                            {{ 'documents'|trans }}
                        </th>
                    {% endif %}

                    {% if 'documents_deleted' == column %}
                        <th>
                            {{ 'documents_deleted'|trans }}
                        </th>
                    {% endif %}

                    {% if 'primary_size' == column %}
                        <th>
                            {{ 'primary_size'|trans }}
                        </th>
                    {% endif %}

                    {% if 'total_size' == column %}
                        <th>
                            {{ 'total_size'|trans }}
                        </th>
                    {% endif %}

                    {% if 'status' == column %}
                        <th>
                            {{ 'status'|trans }}
                        </th>
                    {% endif %}

                    {% if 'health' == column %}
                        <th>
                            {{ 'health'|trans }}
                        </th>
                    {% endif %}

                    {% if 'frozen' == column %}
                        <th>
                            {{ 'frozen'|trans }}
                        </th>
                    {% endif %}

                    {% if 'creation_date' == column %}
                        <th>
                            {{ 'creation_date'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in indices.rows %}
            <tr class="index_system-{% if '.' == row['index']|slice(0, 1) %}true{% else %}false{% endif %} status-{{ row['status'] }} health-{{ row['health'] }} frozen-{{ row['sth'] }}" data-search="{{ row['index'] }}">
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('indices_read', {'index': row['index']}) }}">{{ row['index'] }}</a>
                            </td>
                        {% endif %}

                        {% if 'shards' == column %}
                            <td>
                                {{ row['pri'] }}
                            </td>
                        {% endif %}

                        {% if 'replicas' == column %}
                            <td>
                                {{ row['rep'] }}
                            </td>
                        {% endif %}

                        {% if 'documents' == column %}
                            <td>
                                {{ row['docs.count'] }}
                            </td>
                        {% endif %}

                        {% if 'documents_deleted' == column %}
                            <td>
                                {{ row['docs.deleted'] }}
                            </td>
                        {% endif %}

                        {% if 'primary_size' == column %}
                            <td>
                                {{ row['pri.store.size'] }}
                            </td>
                        {% endif %}

                        {% if 'total_size' == column %}
                            <td>
                                {{ row['store.size'] }}
                            </td>
                        {% endif %}

                        {% if 'status' == column %}
                            <td>
                                {{ appImport.badge({'title': row['status']|trans, 'context': row['status']}) }}
                            </td>
                        {% endif %}

                        {% if 'health' == column %}
                            <td>
                                {{ appImport.badge({'title': row['health']|trans, 'context': row['health']}) }}
                            </td>
                        {% endif %}

                        {% if 'frozen' == column %}
                            <td>
                                {{ appImport.badge({'title': ('boolean.' ~ row['sth'])|trans, 'context': row['sth']}) }}
                            </td>
                        {% endif %}

                        {% if 'creation_date' == column %}
                            <td>
                                {{ row['creation.date.string'] }}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
