{% extends 'base.html.twig' %}
{% import 'app_import.html.twig' as appImport %}

{% block head_title %}{{ 'repositories'|trans }} - {{ repository['id'] }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'repositories'|trans, 'link': path('repositories', {})}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': repository['id']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/repositories/repositories_read_tabs.html.twig' with {'active': 'update'} %}
{% endblock %}

{% block main_content %}
    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'update'|trans}) }}

            {% embed 'buttons_embed.html.twig' %}
                {% import 'app_import.html.twig' as appImport %}
                {% block content %}
                    {% if 'fs' == repository['type'] %}
                        <a class="btn btn-secondary btn-sm" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/snapshots-register-repository.html#snapshots-filesystem-repository">
                            {{ 'help'|trans }}
                        </a>
                    {% endif %}

                    {% if 's3' == repository['type'] %}
                        <a class="btn btn-secondary btn-sm" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-s3-repository.html#repository-s3-repository">
                            {{ 'help'|trans }}
                        </a>
                    {% endif %}

                    {% if 'gcs' == repository['type'] %}
                        <a class="btn btn-secondary btn-sm" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-gcs-repository.html#repository-gcs-repository">
                            {{ 'help'|trans }}
                        </a>
                    {% endif %}
                {% endblock %}
            {% endembed %}

            <p>
                <strong>{{ 'type'|trans }}</strong><br>
                {{ ('repository_' ~ repository['type'])|trans }}
            </p>

            {{ appImport.form({'form': form}) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
