<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'summary' == active %} active{% endif %}" href="{{ path('repositories_read', {'repository': repository['id']}) }}">{{ 'summary'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('snapshots_create', {'repository': repository['id']}) }}">{{ 'create_snapshot'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('slm_create', {'repository': repository['id']}) }}">{{ 'create_slm_policy'|trans }}</a>
    </li>
</ul>
