{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'index_graveyard'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'index_graveyard'|trans}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/index_graveyard/index_graveyard_tabs.html.twig' with {'active': 'list'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {% if tombstones_size %}
                {{ appImport.heading({'level': 3, 'title': 'list'|trans, 'badge': {'title': tombstones.total ~ '/' ~ tombstones_size}}) }}
            {% else %}
                {{ appImport.heading({'level': 3, 'title': 'list'|trans, 'badge': {'title': tombstones.total}}) }}
            {% endif %}

            {% embed 'Embed/buttons_embed.html.twig' %}
                {% import 'Import/app_import.html.twig' as appImport %}
                {% block content %}
                    <a class="btn btn-secondary btn-sm" rel="noreferrer" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-cluster.html#cluster-max-tombstones">
                        {{ 'help'|trans }}
                    </a>
                {% endblock %}
            {% endembed %}

            {% if 0 < tombstones.total %}
                {{ appImport.paginator(tombstones) }}

                {% include 'Modules/index_graveyard/index_graveyard_list.html.twig' with {'tombstones': tombstones} %}

                {{ appImport.paginator(tombstones) }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
