{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'indices'|trans }} - {{ index.name }} - {{ 'import_from_database'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'indices'|trans, 'link': {'url': path('indices')}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': index.name}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/index/index_read_tabs.html.twig' with {'active': 'import_from_database'} %}
{% endblock %}


{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'import_from_database'|trans}) }}

            <div class="row step" id="step-connect">
                <div class="col-12">
                    {{ appImport.heading({'level': 4, 'title': 'database.connect'|trans, 'badge': {'title': '1/4'}}) }}
                </div>

                <div class="col-12 col-md-5 col-lg-4">
                    <form name="data" method="post" action="{{ path('index_database_import_connect', {'index': index.name}) }}" id="form-connect">
                        <div class="form-group">
                            <label class="required" for="driver">{{ 'database.driver'|trans }}</label>
                            <select id="driver" name="driver" required="required" class="form-control">
                                <option value="">-</option>
                                {% for driver in drivers %}
                                    <option value="{{ driver }}">{{ driver }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="host" class="required">{{ 'database.host'|trans }}</label>
                            <input type="text" id="host" name="host" required="required" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="user" class="required">{{ 'database.user'|trans }}</label>
                            <input type="text" id="user" name="user" required="required" autocomplete="nope" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="password" class="required">{{ 'database.password'|trans }}</label>
                            <input type="password" id="password" name="password" required="required" autocomplete="new-password" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="dbname" class="required">{{ 'database.dbname'|trans }}</label>
                            <input type="text" id="dbname" name="dbname" required="required" class="form-control">
                        </div>
                    </div>

                    <div class="col-12 col-md-5 col-lg-4">
                        <div class="form-group">
                            <label for="query" class="required">{{ 'database.query'|trans }}</label>
                            <textarea id="query" name="query" required="required" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{{ 'submit'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row step d-none" id="step-mappings">
                <div class="col-12">
                    {{ appImport.heading({'level': 4, 'title': 'database.mappings'|trans, 'badge': {'title': '2/4'}}) }}
                </div>

                <div class="col-12">
                    <div class="mb-3">
                        <a href="#step-connect" class="btn btn-secondary btn-sm back">{{ 'back'|trans }}</a>
                    </div>

                    <form name="data" method="post" action="{{ path('index_database_import_mappings', {'index': index.name}) }}" id="form-mappings">
                        {% embed 'Embed/table_embed.html.twig' %}
                            {% import 'Import/app_import.html.twig' as appImport %}

                            {% block thead %}
                                <tr>
                                    <th>{{ 'field'|trans }}</th>
                                    <th>{{ 'type'|trans }}</th>
                                    <th>&nbsp;</th>
                                </tr>
                            {% endblock %}

                            {% block tbody %}
                                <tr>
                                    <td>_id</td>
                                    <td>meta</td>
                                    <td>
                                        <select id="_id" name="_id" class="form-control select-column" data-field="_id">
                                        </select>
                                    </td>
                                </tr>
                                {% for field, mapping in index.mappingsFlat %}
                                    <tr>
                                        <td><label for="{{ field }}">{{ field }}</label></td>
                                        <td>{{ mapping['type'] }}</td>
                                        <td>
                                            <select id="{{ field }}" name="{{ field|replace({'.': '_DOT_'}) }}" class="form-control select-column" data-field="{{ field }}">
                                            </select>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endblock %}
                        {% endembed %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{{ 'submit'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row step d-none" id="step-loading">
                <div class="col-12">
                    {{ appImport.heading({'level': 4, 'title': 'database.loading'|trans, 'badge': {'title': '3/4'}}) }}
                </div>

                <div class="col-12">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">{{ 'loading'|trans }}...</span>
                    </div>
                </div>
            </div>

            <div class="row step d-none" id="step-completed">
                <div class="col-12">
                    {{ appImport.heading({'level': 4, 'title': 'database.import_completed'|trans, 'badge': {'title': '4/4'}}) }}
                </div>

                <div class="col-12">
                    <div class="mb-3">
                        <a href="#step-mappings" class="btn btn-secondary btn-sm back">{{ 'back'|trans }}</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="text-center mb-4 col-12 col-md-4 col-lg-3">
                            <h4>{{ 'documents'|trans }}</h4>
                            <h3><span class="badge badge-info"></span></h3>
                        </div>
                    </div>

                    <div class="table-responsive d-none" id="errors">
                        <h4>{{ 'errors'|trans }}</h4>

                        <table class="table table-hover table-sm">

                        <thead class="thead-light">
                            <tr>
                                <th>{{ 'id'|trans }}</th>
                                <th>{{ 'status'|trans }}</th>
                                <th>{{ 'message'|trans }}</th>
                            </tr>
                        </thead>

                        <tbody>
                        </tbody>

                        </table>
                    </div>

                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        var index = '{{ index.name }}';

        $(document).on('click', '.back', function(event) {
            event.preventDefault();

            $(this).parents('.step').addClass('d-none');

            var href= $(this).attr('href');
            $(href).removeClass('d-none');
        });

        $(document).on('submit', 'form', function(event) {
            event.preventDefault();

            var form = $(this);

            var body = $('#form-connect').serialize();
            body = body + '&' + $('#form-mappings').serialize();

            if ('form-mappings' == form.attr('id')) {
                $('#step-mappings').addClass('d-none');
                $('#step-loading').removeClass('d-none');
            }

            fetch(form.attr('action'), {
                'credentials': 'include',
                'headers': {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                'method': 'post',
                'body': body
            }).then(function(response) {
                return response.json();
            }).then(function(json) {
                if (true == json.error) {
                    $('nav').after('<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">' + json.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');

                    if ('form-mappings' == form.attr('id')) {
                        $('#step-loading').addClass('d-none');
                        $('#step-mappings').removeClass('d-none');
                    }

                } else {
                    if ('form-connect' == form.attr('id')) {
                        var columns = '<option value="">-</option>';
                        for (var key in json.columns) {
                            var column = json.columns[key];
                            columns += '<option value="' + column + '">' + column + '</option>';
                        }

                        $(document).find('.select-column').each(function() {
                            $(this).html(columns);
                            var field = $(this).data('field');
                            if (json.columns.includes(field)) {
                                $(this).val(field);
                            }
                        });

                        $('#step-connect').addClass('d-none');
                        $('#step-mappings').removeClass('d-none');
                    }

                    if ('form-mappings' == form.attr('id')) {
                        $('#step-completed .badge-info').text(json.documents);

                        $('#step-mappings').addClass('d-none');
                        $('#step-loading').addClass('d-none');
                        $('#step-completed').removeClass('d-none');

                        $('#errors').addClass('d-none');
                        $('#step-completed tbody').html('');

                        if (0 < (json.errors).length) {
                            for (var key in json.errors) {
                                var error = json.errors[key];
                                $('#step-completed tbody').append(`<tr><td>${error['_id']}</td><td>${error['status']}</td><td>${error['message']}</td></tr>`);
                            }

                            $('#errors').removeClass('d-none');
                        }
                    }
                }
            }).catch(function() {
            });
        });
    </script>
{% endblock %}
