{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'app_users'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'app_users'|trans}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/app_user/app_user_tabs.html.twig' with {'active': 'list'} %}
{% endblock %}

{% block main_content %}
    <div class="jumbotron bg-{{ themeColor4 }} text-{{ themeColor2 }} border border-{{ themeColor2 }}">
        <p class="lead">{{ 'app_users_note'|trans|raw }}</p>
    </div>

    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'list'|trans, 'badge': {'title': users.total}}) }}

            {% if 0 < users.total %}
                {{ appImport.paginator(users) }}

                {% include 'Modules/app_user/app_user_list.html.twig' with {'users': users} %}

                {{ appImport.paginator(users) }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
