{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'app_users'|trans }} - {{ user.email }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'app_users'|trans, 'link': {'url': path('app_users')}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': user.email}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/app_user/app_user_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            {% embed 'Embed/buttons_embed.html.twig' %}
                {% import 'Import/app_import.html.twig' as appImport %}
                {% block content %}
                    {% if is_granted('APP_USER_DELETE', user) %}
                        {{ appImport.buttonModal({
                            'id': 'UserDelete',
                            'title': 'delete'|trans,
                            'body': user.email,
                            'href': path('app_users_delete', {'user': user.id}),
                        }) }}
                    {% endif %}
                {% endblock %}
            {% endembed %}

            {% if user.roles and 0 < user.roles|length %}
                <p>
                    <strong>{{ 'app_roles'|trans }}</strong><br>
                    {% for record in user.roles %}
                        {% if record not in ['ROLE_ADMIN', 'ROLE_USER'] %}
                            <a class="text-secondary" href="{{ path('app_roles_read', {'role': record}) }}">{{ record }}</a>{% if false == loop.last %}, {% endif %}
                        {% else %}
                            {{ record }}{% if false == loop.last %}, {% endif %}
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}

            <p>
                <strong>{{ 'created_at'|trans }}</strong><br>
                {{ user.createdAt|date('Y-m-d H:i:s') }}
            </p>
        {% endblock %}
    {% endembed %}
{% endblock %}
