{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'repositories'|trans }} - {{ repository['id'] }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'repositories'|trans, 'link': path('repositories', {})}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': repository['id']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/repository/repository_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            {% embed 'Embed/buttons_embed.html.twig' %}
                {% import 'Import/app_import.html.twig' as appImport %}
                {% block content %}
                    {{ appImport.buttonModal({
                        'id': 'RepositoryDelete',
                        'title': 'delete'|trans,
                        'body': repository['id'],
                        'href': path('repositories_delete', {'repository': repository['id']}),
                    }) }}

                    {{ appImport.buttonModal({
                        'id': 'RepositoryCleanup',
                        'title': 'cleanup'|trans,
                        'body': repository['id'],
                        'href': path('repositories_cleanup', {'repository': repository['id']}),
                    }) }}

                    {{ appImport.buttonModal({
                        'id': 'RepositoryVerify',
                        'title': 'verify'|trans,
                        'body': repository['id'],
                        'href': path('repositories_verify', {'repository': repository['id']}),
                    }) }}
                {% endblock %}
            {% endembed %}

            <div class="row">
                <div class="col-12 col-md-5 col-lg-4">
                    <p>
                        <strong>{{ 'type'|trans }}</strong><br>
                        {{ ('repository_' ~ repository['type'])|trans }}
                    </p>

                    {% if repository['settings']['chunk_size'] is defined and repository['settings']['chunk_size'] %}
                        <p>
                            <strong>{{ 'chunk_size'|trans }}</strong><br>
                            {{ repository['settings']['chunk_size'] }}
                        </p>
                    {% endif %}

                    {% if repository['settings']['max_restore_bytes_per_sec'] is defined and repository['settings']['max_restore_bytes_per_sec'] %}
                        <p>
                            <strong>{{ 'max_restore_bytes_per_sec'|trans }}</strong><br>
                            {{ repository['settings']['max_restore_bytes_per_sec'] }}
                        </p>
                    {% endif %}

                    {% if repository['settings']['max_snapshot_bytes_per_sec'] is defined and repository['settings']['max_snapshot_bytes_per_sec'] %}
                        <p>
                            <strong>{{ 'max_snapshot_bytes_per_sec'|trans }}</strong><br>
                            {{ repository['settings']['max_snapshot_bytes_per_sec'] }}
                        </p>
                    {% endif %}

                    {% if repository['settings']['compress'] is defined %}
                        <p>
                            <strong>{{ 'compress'|trans }}</strong><br>
                            {{ ('boolean.' ~ repository['settings']['compress'])|trans }}
                        </p>
                    {% endif %}

                    {% if repository['settings']['readonly'] is defined %}
                        <p>
                            <strong>{{ 'readonly'|trans }}</strong><br>
                            {{ ('boolean.' ~ repository['settings']['readonly'])|trans }}
                        </p>
                    {% endif %}
                </div>

                <div class="col-12 col-md-5 col-lg-4">
                    {% if 'fs' == repository['type'] %}
                        <p>
                            <strong>{{ 'location'|trans }}</strong><br>
                            {{ repository['settings']['location'] }}
                        </p>
                    {% endif %}

                    {% if 's3' == repository['type'] or 'gcs' == repository['type'] %}
                        <p>
                            <strong>{{ 'bucket'|trans }}</strong><br>
                            {{ repository['settings']['bucket'] }}
                        </p>

                        <p>
                            <strong>{{ 'client'|trans }}</strong><br>
                            {{ repository['settings']['client'] }}
                        </p>

                        {% if repository['settings']['base_path'] %}
                            <p>
                                <strong>{{ 'base_path'|trans }}</strong><br>
                                {{ repository['settings']['base_path'] }}
                            </p>
                        {% endif %}

                        {% if 's3' == repository['type'] %}
                            <p>
                                <strong>{{ 'server_side_encryption'|trans }}</strong><br>
                                {{ ('boolean.' ~ repository['settings']['server_side_encryption'])|trans }}
                            </p>

                            {% if repository['settings']['buffer_size'] %}
                                <p>
                                    <strong>{{ 'buffer_size'|trans }}</strong><br>
                                    {{ repository['settings']['buffer_size'] }}
                                </p>
                            {% endif %}

                            {% if repository['settings']['canned_acl'] is defined %}
                                <p>
                                    <strong>{{ 'canned_acl'|trans }}</strong><br>
                                    {{ repository['settings']['canned_acl'] }}
                                </p>
                            {% endif %}

                            {% if repository['settings']['storage_class'] is defined %}
                                <p>
                                    <strong>{{ 'storage_class'|trans }}</strong><br>
                                    {{ repository['settings']['storage_class'] }}
                                </p>
                            {% endif %}

                            {% if repository['settings']['aws_account'] is defined %}
                                <p>
                                    <strong>{{ 'aws_account'|trans }}</strong><br>
                                    {{ repository['settings']['aws_account'] }}
                                </p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
