{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% block thead %}
        <tr>
            <th>
                {{ appImport.sort({'cat_sort': cat_sort, 'url': path('app_logs', app.request.query.all), 's': '_id', 'title': 'id'|trans})}}
            </th>
            <th>
                {{ appImport.sort({'cat_sort': cat_sort, 'url': path('app_logs', app.request.query.all), 's': '_score', 'title': 'score'|trans})}}
            </th>
            <th>
                {{ appImport.sort({'cat_sort': cat_sort, 'url': path('app_logs', app.request.query.all), 's': 'email', 'title': 'email'|trans})}}
            </th>
            <th>
                {{ appImport.sort({'cat_sort': cat_sort, 'url': path('app_logs', app.request.query.all), 's': 'method', 'title': 'method'|trans})}}
            </th>
            <th>
                {{ appImport.sort({'cat_sort': cat_sort, 'url': path('app_logs', app.request.query.all), 's': 'path', 'title': 'path'|trans})}}
            </th>
            <th>
                {{ appImport.sort({'cat_sort': cat_sort, 'url': path('app_logs', app.request.query.all), 's': 'response_code', 'title': 'response_code'|trans})}}
            </th>
            <th>
                {{ appImport.sort({'cat_sort': cat_sort, 'url': path('app_logs', app.request.query.all), 's': 'created_at', 'title': 'created_at'|trans})}}
            </th>
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in documents.rows %}
            <tr>
                <td>
                    {{ row['_id'] }}
                </td>
                <td>
                    {{ row['_score'] }}
                </td>
                <td>
                    {{ row['_source']['email'] }}
                </td>
                <td>
                    {{ row['_source']['method'] }}
                </td>
                <td>
                    {{ row['_source']['path'] }}
                </td>
                <td>
                    {{ row['_source']['response_code'] }}
                </td>
                <td>
                    {{ row['_source']['created_at'] }}
                </td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
