{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'id': true, 'node': true, 'type': true, 'action': true, 'start_time': true, 'running_time_in_nanos': true, 'cancellable': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'id' == column %}
                        <th>
                            {{ 'id'|trans }}
                        </th>
                    {% endif %}

                    {% if 'node' == column %}
                        <th>
                            {{ 'node'|trans }}
                        </th>
                    {% endif %}

                    {% if 'type' == column %}
                        <th>
                            {{ 'type'|trans }}
                        </th>
                    {% endif %}

                    {% if 'action' == column %}
                        <th>
                            {{ 'action'|trans }}
                        </th>
                    {% endif %}

                    {% if 'start_time' == column %}
                        <th>
                            {{ 'start_time'|trans }}
                        </th>
                    {% endif %}

                    {% if 'running_time_in_nanos' == column %}
                        <th>
                            {{ 'running_time_in_nanos'|trans }}
                        </th>
                    {% endif %}

                    {% if 'cancellable' == column %}
                        <th>
                            {{ 'cancellable'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in tasks.rows %}
            <tr>
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'id' == column %}
                            <td>
                                {{ row['id'] }}
                            </td>
                        {% endif %}

                        {% if 'node' == column %}
                            <td>
                                {% if is_granted('NODES', 'global') %}
                                    <a class="text-secondary" href="{{ path('nodes_read', {'node': row['node']}) }}">{{ row['node'] }}</a>
                                {% else %}
                                    {{ row['node'] }}
                                {% endif %}
                                {% if master_node == row['node'] %}{{ appImport.badge({'title': 'master'|trans, 'context': 'master_node'}) }}{% endif %}
                            </td>
                        {% endif %}

                        {% if 'type' == column %}
                            <td>
                                {{ row['type'] }}
                            </td>
                        {% endif %}

                        {% if 'action' == column %}
                            <td>
                                {{ row['action'] }}
                            </td>
                        {% endif %}

                        {% if 'start_time' == column %}
                            <td>
                                {{ row['start_time_in_millis']|human_datetime }}
                            </td>
                        {% endif %}

                        {% if 'running_time_in_nanos' == column %}
                            <td>
                                {{ row['running_time_in_nanos'] }}
                            </td>
                        {% endif %}

                        {% if 'cancellable' == column %}
                            <td>
                                {{ row['cancellable'] }}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
