{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'app_uninstall'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'app_uninstall'|trans}) }}
{% endblock %}

{% block tabs %}
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link text-{{ theme_color_2 }} active bg-{{ theme_color_1 }}" href="{{ path('app_uninstall') }}">{{ 'summary'|trans }}</a>
        </li>
    </ul>
{% endblock %}

{% block main_content %}
    {% embed 'Embed/block_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            <p class="lead">{{ 'app_uninstall_note'|trans|raw }}</p>

            <ul class="list-unstyled">
                {% for index in indices %}
                    <li>{{ index }}</li>
                {% endfor %}
            </ul>

            {{ appImport.buttonModal({
                'id': 'AppUninstall',
                'title': 'app_uninstall'|trans,
                'body': 'app_uninstall_note'|trans,
                'href': path('app_uninstall_confirm'),
                'size': 'lg',
            }) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
