<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'list' == active %} active{% endif %}" href="{{ path('indices', {}) }}">{{ 'list'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link{% if 'create' == active %} active{% endif %}" href="{{ path('indices_create') }}">{{ 'create_index'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link{% if 'reindex' == active %} active{% endif %}" href="{{ path('indices_reindex') }}">{{ 'reindex'|trans }}</a>
    </li>
</ul>
