{% extends 'base.html.twig' %}
{% import 'app_import.html.twig' as appImport %}

{% block head_title %}{{ 'indices'|trans }} - {{ index['index'] }} - {{ 'create_alias'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'indices'|trans, 'link': path('indices', {})}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': index['index']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/indices/indices_read_tabs.html.twig' with {'active': 'create_alias'} %}
{% endblock %}

{% block main_content %}
    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'create_alias'|trans}) }}

            {% embed 'buttons_embed.html.twig' %}
                {% import 'app_import.html.twig' as appImport %}
                {% block content %}
                    <a class="btn btn-secondary btn-sm" target="_blank" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-add-alias.html#indices-add-alias">
                        {{ 'help'|trans }}
                    </a>
                {% endblock %}
            {% endembed %}

            {{ appImport.form({'form': form}) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
