<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'summary' == active %} active{% endif %}" href="{{ path('indices_read', {'index': indice['index']}) }}">{{ 'summary'|trans }}</a>
    </li>

    {% if 'open' == indice['status'] %}
        <li class="nav-item">
            <a class="nav-link{% if 'shards' == active %} active{% endif %}" href="{{ path('indices_read_shards', {'index': indice['index']}) }}">{{ 'shards'|trans }}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link{% if 'aliases' == active %} active{% endif %}" href="{{ path('indices_read_aliases', {'index': indice['index']}) }}">{{ 'aliases'|trans }}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link{% if 'documents' == active %} active{% endif %}" href="{{ path('indices_read_documents', {'index': indice['index']}) }}">{{ 'documents'|trans }}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('snapshots_create', {'index': indice['index']}) }}">{{ 'create_snapshot'|trans }}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('indices_reindex', {'index': indice['index']}) }}">{{ 'reindex'|trans }}</a>
        </li>
    {% endif %}
</ul>
