{% extends 'base.html.twig' %}
{% import 'app_import.html.twig' as appImport %}

{% block head_title %}{{ index['index'] }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'indices'|trans, 'link': path('indices', {})}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': index['index']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/indices/indices_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            {% embed 'buttons_embed.html.twig' %}
                {% import 'app_import.html.twig' as appImport %}
                {% block content %}
                    {{ appImport.buttonModal({
                        'id': 'IndiceDelete' ~ index['uuid'],
                        'title': 'delete'|trans,
                        'body': index['index'],
                        'href': path('indices_delete', {'index': index['index']}),
                    }) }}

                    {% if 'close' == index['status'] %}
                        {{ appImport.buttonModal({
                            'id': 'IndiceOpen' ~ index['uuid'],
                            'title': 'open'|trans,
                            'body': index['index'],
                            'href': path('indices_open', {'index': index['index']}),
                        }) }}
                    {% endif %}

                    {% if 'open' == index['status'] %}
                        {{ appImport.buttonModal({
                            'id': 'IndiceClose' ~ index['uuid'],
                            'title': 'close'|trans,
                            'body': index['index'],
                            'href': path('indices_close', {'index': index['index']}),
                        }) }}

                        {{ appImport.buttonModal({
                            'id': 'IndiceForceMerge' ~ index['uuid'],
                            'title': 'force_merge'|trans,
                            'body': index['index'],
                            'href': path('indices_force_merge', {'index': index['index']}),
                        }) }}

                        {{ appImport.buttonModal({
                            'id': 'IndiceCacheClear' ~ index['uuid'],
                            'title': 'cache_clear'|trans,
                            'body': index['index'],
                            'href': path('indices_cache_clear', {'index': index['index']}),
                        }) }}

                        {{ appImport.buttonModal({
                            'id': 'IndiceFlush' ~ index['uuid'],
                            'title': 'flush'|trans,
                            'body': index['index'],
                            'href': path('indices_flush', {'index': index['index']}),
                        }) }}

                        {{ appImport.buttonModal({
                            'id': 'IndiceRefresh' ~ index['uuid'],
                            'title': 'refresh'|trans,
                            'body': index['index'],
                            'href': path('indices_refresh', {'index': index['index']}),
                        }) }}
                    {% endif %}
                {% endblock %}
            {% endembed %}

            <p>
                <strong>{{ 'shards'|trans }}</strong><br>
                {{ index['pri'] }}
            </p>

            <p>
                <strong>{{ 'replicas'|trans }}</strong><br>
                {{ index['rep'] }}
            </p>

            <p>
                <strong>{{ 'documents'|trans }}</strong><br>
                {{ index['docs.count'] }}
            </p>

            <p>
                <strong>{{ 'documents_deleted'|trans }}</strong><br>
                {{ index['docs.deleted'] }}
            </p>

            <p>
                <strong>{{ 'primary_size'|trans }}</strong><br>
                {{ index['pri.store.size'] }}
            </p>

            <p>
                <strong>{{ 'total_size'|trans }}</strong><br>
                {{ index['store.size'] }}
            </p>

            <p>
                <strong>{{ 'status'|trans }}</strong><br>
                {{ index['status'] }}
            </p>

            <p>
                <strong>{{ 'health'|trans }}</strong><br>
                {{ appImport.badge({'title': index['health'], 'context': index['health']}) }}
            </p>
        {% endblock %}
    {% endembed %}
{% endblock %}
