{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'snapshots'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'snapshots'|trans}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/snapshot/snapshot_tabs.html.twig' with {'active': 'list'} %}
{% endblock %}

{% block main_content %}
    {% if 0 < snapshots.total %}
        {% embed 'Embed/card_embed.html.twig' %}
            {% import 'Import/app_import.html.twig' as appImport %}
            {% block content %}
                {{ appImport.heading({'level': 3, 'title': 'list'|trans, 'badge': {'title': snapshots.total}}) }}

                {% embed 'Embed/buttons_embed.html.twig' %}
                    {% import 'Import/app_import.html.twig' as appImport %}
                    {% block content %}
                        <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                            {{ 'filter'|trans }}
                        </button>
                    {% endblock %}
                {% endembed %}

                <div class="collapse" id="collapseFilter">
                    {{ appImport.filterText({'label': 'snapshot'|trans}) }}

                    {{ appImport.filterCheckboxes({'title': 'state'|trans, 'prefix': 'state', 'choices': ['FAILED', 'INCOMPATIBLE', 'IN_PROGRESS', 'PARTIAL', 'SUCCESS']}) }}
                </div>

                {{ appImport.paginator(snapshots) }}

                {% include 'Modules/snapshot/snapshot_list.html.twig' with {'snapshots': snapshots} %}

                {{ appImport.paginator(snapshots) }}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}
