{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'snapshots'|trans }} - {{ snapshot['snapshot'] }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'snapshots'|trans, 'link': {'url': path('snapshots', {})}}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': snapshot['snapshot']}) }}
{% endblock %}

{% block tabs %}
    {% include 'Modules/snapshot/snapshot_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'Embed/card_embed.html.twig' %}
        {% import 'Import/app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            {% embed 'Embed/buttons_embed.html.twig' %}
                {% import 'Import/app_import.html.twig' as appImport %}
                {% block content %}
                    {{ appImport.buttonModal({
                        'id': 'SnapshotDelete',
                        'title': 'delete'|trans,
                        'body': snapshot['snapshot'],
                        'href': path('snapshots_delete', {'repository': repository, 'snapshot': snapshot['snapshot']}),
                    }) }}
                {% endblock %}
            {% endembed %}

            {% if snapshot['metadata']['policy'] is defined %}
                <p>
                    <strong>{{ 'slm_policy'|trans }}</strong><br>
                    <a href="{{ path('slm_read', {'name': snapshot['metadata']['policy']}) }}">{{ snapshot['metadata']['policy'] }}</a>
                </p>
            {% endif %}

            <p>
                <strong>{{ 'repository'|trans }}</strong><br>
                <a href="{{ path('repositories_read', {'repository': repository}) }}">{{ repository }}</a>
            </p>

            <p>
                <strong>{{ 'version'|trans }}</strong><br>
                {{ snapshot['version'] }}
            </p>

            <p>
                <strong>{{ 'indices'|trans }}</strong><br>
                {{ snapshot['indices']|join(', ') }}
            </p>

            <p>
                <strong>{{ 'state'|trans }}</strong><br>
                {{ snapshot['state'] }}
            </p>

            <p>
                <strong>{{ 'start_time'|trans }}</strong><br>
                {{ snapshot['start_time'] }}
            </p>

            <p>
                <strong>{{ 'end_time'|trans }}</strong><br>
                {{ snapshot['end_time'] }}
            </p>

            <p>
                <strong>{{ 'duration_in_millis'|trans }}</strong><br>
                {{ snapshot['duration_in_millis'] }}
            </p>
        {% endblock %}
    {% endembed %}
{% endblock %}
