<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link text-light{% if 'list' == active %} active bg-dark{% endif %}" href="{{ path('ilm') }}">{{ 'list'|trans }}</a>
    </li>

    {% if is_granted('ILM_POLICIES_STATUS', 'global') %}
        <li class="nav-item">
            <a class="nav-link text-light{% if 'status' == active %} active bg-dark{% endif %}" href="{{ path('ilm_status') }}">{{ 'status'|trans }}</a>
        </li>
    {% endif %}

    {% if is_granted('ILM_POLICIES_CREATE', 'global') %}
        <li class="nav-item">
            <a class="nav-link text-light{% if 'create_ilm_policy' == active %} active bg-dark{% endif %}" href="{{ path('ilm_create') }}">{{ 'create_ilm_policy'|trans }}</a>
        </li>
    {% endif %}
</ul>
