{% macro heading(params) %}
    {% if params.level is not defined %}
        {% set params = params|merge({'level': 1}) %}
    {% endif %}

    <h{{ params.level }}{% if 1 == params.level %} class="mt-3"{% endif %}>
        {% if params.link is defined %}{{ _self.link({'url': params.link, 'title': params.title|raw})}}{% else %}{{ params.title|raw }}{% endif %}
        {% if params.badge is defined %} {{ _self.badge({'title': params.badge, 'context': 'light'}) }}{% endif %}
    </h{{ params.level }}>
{% endmacro %}

{% macro link(params) %}
    {% if params.class is not defined %}
        {% set params = params|merge({'class': 'text-secondary'}) %}
    {% endif %}

    <a class="{{ params.class }}" href="{{ params.url }}">{{ params.title }}</a>
{% endmacro %}

{% macro dashboardKpi(params) %}
    <div class="text-center mb-4 col-12 col-md-4 col-lg-3">
        <h4>{{ params.title }}</h4>
        <h3>{{ _self.badge(params.badge) }}</h3>
    </div>
{% endmacro %}

{% macro badge(params) %}
    {% if params.context is not defined %}
        {% set params = params|merge({'context': 'primary'}) %}
    {% endif %}

    {% if 'red' == params.context %}
        {% set params = params|merge({'context': 'danger'}) %}
    {% elseif 'yellow' == params.context %}
        {% set params = params|merge({'context': 'warning'}) %}
    {% elseif 'green' == params.context %}
        {% set params = params|merge({'context': 'success'}) %}
    {% elseif 'true' == params.context %}
        {% set params = params|merge({'context': 'success'}) %}
    {% elseif 'false' == params.context %}
        {% set params = params|merge({'context': 'secondary'}) %}
    {% endif %}

    <span class="badge badge-{{ params.context }}">{{ params.title }}</span>
{% endmacro %}

{% macro button(params) %}
    {% if params.context is not defined %}
        {% set params = params|merge({'context': 'primary'}) %}
    {% endif %}

    <a href="{{ params.url }}" class="btn btn-{{ params.context }} btn-sm"{% if params.target is defined %} target="{{ params.target }}"{% endif %}>
        {{ params.title }}
    </a>
{% endmacro %}

{% macro buttonModal(params) %}
    {% if params.id is not defined %}
        {% set params = params|merge({'id': ''}) %}
    {% endif %}

    {% if params.title is not defined %}
        {% set params = params|merge({'title': ''}) %}
    {% endif %}

    {% if params.body is not defined %}
        {% set params = params|merge({'body': ''}) %}
    {% endif %}

    {% if params.href is not defined %}
        {% set params = params|merge({'href': ''}) %}
    {% endif %}

    {% if params.button is not defined %}
        {% set params = params|merge({'button': 'primary'}) %}
    {% endif %}

    <button type="button" class="btn btn-{{ params.button }} btn-sm" data-toggle="modal" data-target="#modal{{ params.id }}">
        {{ params.title }}
    </button>
    <div class="modal fade" id="modal{{ params.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ params.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel{{ params.id }}">{{ params.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'cancel'|trans }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <p>
                        {{ params.body }}
                    </p>
                    {% if params.help is defined %}
                        <p{% if params.help_type is defined %} class="text-{{ params.help_type }}"{% endif %}>
                            {{ params.help|raw }}
                        </p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'cancel'|trans }}</button>
                    <a href="{{ params.href }}" class="btn btn-{{ params.button }}">{{ 'confirm'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro form(params) %}
    {% if params.type is not defined %}
        {% set params = params|merge({'type': 'default'}) %}
    {% endif %}

    {{ form_start(params.form, {'action': app.request.uri}) }}
        <div class="row">
            {% if 'search' == params.type %}<div class="col-12 col-md-4 col-lg-3">{% else %}<div class="col-12 col-md-5 col-lg-4">{% endif %}
                {% for child in params.form.children %}
                    {{ form_row(child) }}
                    {% if child.vars.attr is defined and child.vars.attr['data-break-after'] is defined %}
                        </div>
                        {% if 'search' == params.type %}<div class="col-12 col-md-4 col-lg-3">{% else %}<div class="col-12 col-md-5 col-lg-4">{% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ 'submit'|trans }}</button>
                </div>
            </div>
        </div>
    {{ form_end(params.form) }}
{% endmacro %}

{% macro paginator(params) %}
    {% if 1 < params.pages %}
        <ul class="pagination">
            {% if params.previous %}
                <li class="page-item">
                    <a class="page-link" rel="prev" href="{{ path(params.route, params.route_parameters|merge({'page': params.previous})) }}">&laquo;&nbsp;{{ 'previous'|trans }}</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;&nbsp;{{ 'previous'|trans }}</span>
                </li>
            {% endif %}

            {% if params.first %}
                <li class="page-item">
                    <a class="page-link" rel="next" href="{{ path(params.route, params.route_parameters|merge({'page': params.first})) }}">{{ params.first }}</a>
                </li>
                {% if params.first != params.start_page - 1 %}
                    <li class="page-item disabled">
                        <span class="page-link">&hellip;</span>
                    </li>
                {% endif %}
            {% endif %}

            {% for page in params.pages_slice %}
                {% if page != params.page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(params.route, params.route_parameters|merge({'page': page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <span class="page-link">{{ page }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if params.last %}
                {% if params.last != params.end_page + 1 %}
                    <li class="page-item disabled">
                        <span class="page-link">&hellip;</span>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" rel="next" href="{{ path(params.route, params.route_parameters|merge({'page': params.last})) }}">{{ params.last }}</a>
                </li>
            {% endif %}

            {% if params.next %}
                <li class="page-item">
                    <a class="page-link" rel="next" href="{{ path(params.route, params.route_parameters|merge({'page': params.next})) }}">{{ 'next'|trans }}&nbsp;&raquo;</a>
                </li>
            {% else %}
                <li  class="page-item disabled">
                    <span class="page-link">{{ 'next'|trans }}&nbsp;&raquo;</span>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endmacro %}
