{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="jumbotron mt-3">
        <h1 class="display-4">{{ 'welcome'|trans }}</h1>
    </div>

    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            <div class="row">
                {{ appImport.dashboardKpi({'title': 'cluster'|trans, 'badge': {'title': clusterHealth['cluster_name']}}) }}
                {{ appImport.dashboardKpi({'title': 'status'|trans, 'badge': {'title': clusterHealth['status'], 'context': clusterHealth['status']}}) }}
                {{ appImport.dashboardKpi({'title': 'nodes'|trans, 'badge': {'title': clusterHealth['number_of_nodes']}}) }}
                {{ appImport.dashboardKpi({'title': 'documents'|trans, 'badge': {'title': catCount[0]['count']}}) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
