{% extends 'base.html.twig' %}
{% import 'app_import.html.twig' as appImport %}

{% block head_title %}{{ 'cluster'|trans }}{% endblock %}

{% block main_content %}
    <div class="jumbotron mt-3">
        <h1 class="display-4">{{ clusterHealth['cluster_name'] }}</h1>
        <h2>{{ appImport.badge({'title': clusterHealth['status'], 'context': clusterHealth['status']}) }}</h2>
    </div>

    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            <div class="row">
                {{ appImport.dashboardKpi({'title': 'nodes'|trans, 'badge': {'title': clusterHealth['number_of_nodes']}}) }}

                {% if indices %}
                    {{ appImport.dashboardKpi({'title': 'indices'|trans, 'badge': {'title': indices}}) }}
                {% endif %}

                {% if shards %}
                    {{ appImport.dashboardKpi({'title': 'shards'|trans, 'badge': {'title': shards}}) }}
                {% endif %}

                {% if documents %}
                    {{ appImport.dashboardKpi({'title': 'documents'|trans, 'badge': {'title': documents}}) }}
                {% endif %}

                {% if store_size %}
                    {{ appImport.dashboardKpi({'title': 'store_size'|trans, 'badge': {'title': store_size|human_filesize}}) }}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
