{% embed 'table_embed.html.twig' %}
    {% import 'app_import.html.twig' as appImport %}

    {% set columns = {'index': true, 'docs.count': true, 'docs.deleted': true, 'pri.store.size': true, 'status': true, 'health': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'index' == column %}
                        <th>
                            index
                        </th>
                    {% endif %}

                    {% if 'docs.count' == column %}
                        <th>
                            docs.count
                        </th>
                    {% endif %}

                    {% if 'docs.deleted' == column %}
                        <th>
                            docs.deleted
                        </th>
                    {% endif %}

                    {% if 'pri.store.size' == column %}
                        <th>
                            pri.store.size
                        </th>
                    {% endif %}

                    {% if 'status' == column %}
                        <th>
                            status
                        </th>
                    {% endif %}

                    {% if 'health' == column %}
                        <th>
                            health
                        </th>
                    {% endif %}

                    {% if '_buttons' == column %}
                        <th>
                            &nbsp;
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in indices.rows %}
            <tr>
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'index' == column %}
                            <td>
                                <a href="{{ path('indices_read', {'index': row['index']}) }}">{{ row['index'] }}</a>
                            </td>
                        {% endif %}

                        {% if 'docs.count' == column %}
                            <td>
                                {{ row['docs.count'] }}
                            </td>
                        {% endif %}

                        {% if 'docs.deleted' == column %}
                            <td>
                                {{ row['docs.deleted'] }}
                            </td>
                        {% endif %}

                        {% if 'pri.store.size' == column %}
                            <td>
                                {{ row['pri.store.size'] }}
                            </td>
                        {% endif %}

                        {% if 'status' == column %}
                            <td>
                                {{ row['status'] }}
                            </td>
                        {% endif %}

                        {% if 'health' == column %}
                            <td>
                                {{ appImport.badge({'title': row['health'], 'context': row['health']}) }}
                            </td>
                        {% endif %}

                        {% if '_buttons' == column %}
                            <td>
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
