{% extends 'base.html.twig' %}
{% import 'app_import.html.twig' as appImport %}

{% block head_title %}{{ node['name'] }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'nodes'|trans, 'link': path('nodes', {})}) }}
{% endblock %}

{% block heading_2 %}
    {{ appImport.heading({'level': 2, 'title': node['name']}) }}
{% endblock %}

{% block tabs %}
    {% include 'nodes_read_tabs.html.twig' with {'active': 'summary'} %}
{% endblock %}

{% block main_content %}
    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'summary'|trans}) }}

            {% if master_node == node['name'] %}
                <p>
                    <strong>{{ 'master'|trans }}</strong><br>
                    {{ 'true'|trans }}
                </p>
            {% endif %}

            <p>
                <strong>{{ 'ip'|trans }}</strong><br>
                {{ node['ip'] }}
            </p>

            <p>
                <strong>{{ 'version'|trans }}</strong><br>
                {{ node['version'] }}
            </p>

            <p>
                <strong>{{ 'os_pretty_name'|trans }}</strong><br>
                {{ node['os']['pretty_name'] }}
            </p>

            <p>
                <strong>{{ 'os_version'|trans }}</strong><br>
                {{ node['os']['version'] }}
            </p>

            <p>
                <strong>{{ 'os_arch'|trans }}</strong><br>
                {{ node['os']['arch'] }}
            </p>
        {% endblock %}
    {% endembed %}

    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            {{ appImport.heading({'level': 3, 'title': 'jvm'|trans}) }}

            <p>
                <strong>{{ 'vm_name'|trans }}</strong><br>
                {{ node['jvm']['vm_name'] }}
            </p>

            <p>
                <strong>{{ 'vm_version'|trans }}</strong><br>
                {{ node['jvm']['vm_version'] }}
            </p>

            <p>
                <strong>{{ 'vm_vendor'|trans }}</strong><br>
                {{ node['jvm']['vm_vendor'] }}
            </p>
        {% endblock %}
    {% endembed %}
{% endblock %}
