{% embed 'table_embed.html.twig' %}
    {% import 'app_import.html.twig' as appImport %}

    {% set columns = {'name': true, 'master': true, 'ip': true, 'version': true, 'os.pretty_name': true, 'os.version': true, 'os.arch': true, 'uptime': true, 'disk.avail': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'name' == column %}
                        <th>
                            {{ 'name'|trans }}
                        </th>
                    {% endif %}

                    {% if 'master' == column %}
                        <th>
                            {{ 'master'|trans }}
                        </th>
                    {% endif %}

                    {% if 'ip' == column %}
                        <th>
                            {{ 'ip'|trans }}
                        </th>
                    {% endif %}

                    {% if 'version' == column %}
                        <th>
                            {{ 'version'|trans }}
                        </th>
                    {% endif %}

                    {% if 'os.pretty_name' == column %}
                        <th>
                            {{ 'os.pretty_name'|trans }}
                        </th>
                    {% endif %}

                    {% if 'os.version' == column %}
                        <th>
                            {{ 'os.version'|trans }}
                        </th>
                    {% endif %}

                    {% if 'os.arch' == column %}
                        <th>
                            {{ 'os.arch'|trans }}
                        </th>
                    {% endif %}

                    {% if 'disk.avail' == column %}
                        <th>
                            {{ 'disk.avail'|trans }}
                        </th>
                    {% endif %}

                    {% if 'uptime' == column %}
                        <th>
                            {{ 'uptime'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in nodes.rows %}
            <tr>
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'name' == column %}
                            <td>
                                <a href="{{ path('nodes_read', {'node': row['name']}) }}">{{ row['name'] }}</a>
                            </td>
                        {% endif %}

                        {% if 'master' == column %}
                            <td>
                                {% if '*' == row['master'] %}
                                    {{ 'true'|trans }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'ip' == column %}
                            <td>
                                {{ row['ip'] }}
                            </td>
                        {% endif %}

                        {% if 'version' == column %}
                            <td>
                                {{ row['version'] }}
                            </td>
                        {% endif %}

                        {% if 'os.pretty_name' == column %}
                            <td>
                                {{ row['os']['pretty_name'] }}
                            </td>
                        {% endif %}

                        {% if 'os.version' == column %}
                            <td>
                                {{ row['os']['version'] }}
                            </td>
                        {% endif %}

                        {% if 'os.arch' == column %}
                            <td>
                                {{ row['os']['arch'] }}
                            </td>
                        {% endif %}

                        {% if 'disk.avail' == column %}
                            <td>
                                {{ row['disk.avail'] }}
                            </td>
                        {% endif %}

                        {% if 'uptime' == column %}
                            <td>
                                {{ row['uptime'] }}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
