{% extends 'base.html.twig' %}
{% import 'Import/app_import.html.twig' as appImport %}

{% block head_title %}{{ 'deprecations'|trans }}{% endblock %}

{% block heading_1 %}
    {{ appImport.heading({'level': 1, 'title': 'deprecations'|trans}) }}
{% endblock %}

{% block main_content %}
    {% for key, rows in deprecations %}
        {% embed 'Embed/block_embed.html.twig' %}
            {% import 'Import/app_import.html.twig' as appImport %}
            {% block content %}
                {{ appImport.heading({'level': 3, 'title': key|trans, 'badge': {'title': rows|length}}) }}

                {% if 0 < rows|length %}
                    {% set rowsFlat = [] %}
                    {% set count = 0 %}
                    {% for k, row in rows %}
                        {% if row['level'] is defined %}
                            {% set rowsFlat = rowsFlat|merge({(count): row}) %}
                            {% set count = count + 1 %}
                        {% else %}
                            {% for rowSub in row %}
                                {% set rowSub = rowSub|merge({'index': k}) %}
                                {% set rowsFlat = rowsFlat|merge({(count): rowSub}) %}
                                {% set count = count + 1 %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    {% for row in rowsFlat %}
                        <div class="card bg-{{ theme_color_1 }} card-body{%if false == loop.last %} mb-3{% endif %}">
                            {% if row['index'] is defined %}
                                <p>
                                    <strong>{{ 'index'|trans }}</strong><br>
                                    {{ row['index'] }}
                                </p>
                            {% endif %}

                            <p>
                                <strong>{{ 'level'|trans }}</strong><br>
                                {{ row['level'] }}
                            </p>

                            <p>
                                <strong>{{ 'message'|trans }}</strong><br>
                                {{ row['message'] }}
                            </p>

                            <p>
                                <strong>{{ 'url'|trans }}</strong><br>
                                <a rel="noreferrer" target="_blank" href="{{ row['url'] }}">{{ row['url'] }}</a>
                            </p>

                            <p>
                                <strong>{{ 'details'|trans }}</strong><br>
                                {{ row['details'] }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endfor %}
{% endblock %}
