{% embed 'Embed/table_embed.html.twig' %}
    {% import 'Import/app_import.html.twig' as appImport %}

    {% set columns = {'role': true, 'reserved': true, 'indices': false, 'applications': false, 'cluster': false} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'role' == column %}
                        <th>
                            {{ 'role'|trans }}
                        </th>
                    {% endif %}

                    {% if 'reserved' == column %}
                        <th>
                            {{ 'reserved'|trans }}
                        </th>
                    {% endif %}

                    {% if 'indices' == column %}
                        <th>
                            {{ 'indices'|trans }}
                        </th>
                    {% endif %}

                    {% if 'applications' == column %}
                        <th>
                            {{ 'applications'|trans }}
                        </th>
                    {% endif %}

                    {% if 'cluster' == column %}
                        <th>
                            {{ 'cluster'|trans }}
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in roles.rows %}
            <tr class="reserved-{% if row['metadata']['_reserved'] is defined and true == row['metadata']['_reserved'] %}true{% else %}false{% endif %}" data-search="{{ row['role'] }}">
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'role' == column %}
                            <td>
                                <a href="{{ path('roles_read', {'role': row['role']}) }}">{{ row['role'] }}</a>
                            </td>
                        {% endif %}

                        {% if 'reserved' == column %}
                            <td>
                                {% if row['metadata']['_reserved'] is defined and true == row['metadata']['_reserved'] %}
                                    {{ appImport.badge({'title': 'boolean.true'|trans, 'context': 'true'}) }}
                                {% else %}
                                    {{ appImport.badge({'title': 'boolean.false'|trans, 'context': 'false'}) }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'indices' == column %}
                            <td>
                                {% if row['indices'] is defined and 0 < row['indices']|length %}
                                    {% for record in row['indices'] %}
                                        <small>#{{ loop.index }}: {{ record['names']|join(', ') }} ({{ record['privileges']|join(', ') }})</small><br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'applications' == column %}
                            <td>
                                {% if row['applications'] is defined and 0 < row['applications']|length %}
                                    {% for record in row['applications'] %}
                                        <small>#{{ loop.index }}: {{ record['application'] }} ({{ record['privileges']|join(', ') }})</small><br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% if 'cluster' == column %}
                            <td>
                                {% if row['cluster'] is defined and 0 < row['cluster']|length %}
                                    <small>{{ row['cluster']|join(', ') }}</small>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
