<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'list' == active %} active{% endif %}" href="{{ path('enrich') }}">{{ 'list'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link{% if 'stats' == active %} active{% endif %}" href="{{ path('enrich_stats') }}">{{ 'stats'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link{% if 'create_enrich_policy' == active %} active{% endif %}" href="{{ path('enrich_create') }}">{{ 'create_enrich_policy'|trans }}</a>
    </li>
</ul>
